[2013-05-16 15:31] kputnam opened #5 "Type conversion to String in ID elements"
For ID elements that are essentially numeric, like `HL*03`, it would be nice to allow numeric arguments like `m.find(:HL, nil, nil, 20)`. Currently this throws an exception:

[code]

The workaround is to use strings for all ID elements: `m.find(:HL, nil, nil, "20")`

[2013-06-06 23:47] kputnam opened #8 "Warn about re-assigning configuration"
Configuration documentation should be reviewed (and tangentially, an explanation for the difference between a `TransactionSetDef` and `Guide` would be useful). It's likely someone may unknowingly do something like this:

[code]

... which probably has unintended consequences: the first configuration is overwritten. Printing a warning would be appropriate.

[2013-06-06 23:48] kputnam opened #9 "Create a contrib module"
Make contribution easier by outlining where new third-party grammars should be placed

[2013-06-07 00:20] kputnam opened #10 "Strict SegmentDef validations"
Check that any element marked `Relational` actually has a corresponding `SyntaxRule` and that each `SyntaxRule` uses valid segments indexes.

[2013-06-07 01:31] kputnam opened #11 "Eliminate element-wise RepeatCount argument from 4010 SegmentDef constructor"
Since 4010 doesn't support repeated elements, the boilerplate `RepeatCount.bounded(1)` argument can be removed from every SegmentDef in 4010.

[2013-06-09 07:05] #9 closed, assigned to nobody

[2013-06-14 11:10] Shpigford opened #12 "Error: reached end of input before finding ISA segment identifier"
When trying to read some data, I'm getting this error:

`reached end of input before finding ISA segment identifier`

Here's the sample data: https://gist.github.com/Shpigford/daedb0a0e2eeb52cd384

This is data directly from the provider (in this case, UPS). And seems pretty standard across all the files I'm receiving from them.

[2013-06-17 16:47] Shpigford opened #13 "Iterate error: block did not return an instance of Either"
I'm using the following to iterate over segments:

[code]

That works well, except after it's successfully iterated through all of the ST's, it throws this error:

[code]

[2013-06-18 00:57] #13 closed, assigned to nobody

[2013-06-18 12:52] #12 closed, assigned to nobody

[2013-06-18 12:56] Shpigford opened #14 "Multiple constraints on find not working as expected"
I have the following segment...

[code]

I'm trying to pull the `68600 TL 182555` reference using the following:

[code]

But that comes up empty.

If I do `m.find(:L11, nil, 'CR')`, it works. But that isn't a unique identifier, so I need to use `SHPREF1`.

Is this a bug or am I doing something wrong?

[2013-06-18 13:05] Shpigford opened #15 "How to specify a certain set of segments?"
Here's a typical transaction set:

[code]

What I'm ultimately trying to pull is that set of `N1`, `N3` and `N4` towards then end of the set.

But, there will occasionally be an additional set of those under the first occurrence of `N1` (and before `AT7`).

So how would I differentiate those and select **only** those segments before `AT7` or **only** those towards the end?

Does that make sense?

[2013-06-18 13:28] Shpigford opened #16 "Segment cannot be reached from the current state"
I'm getting this error:

[code]

When I run this:

[code]

Here's an example transaction set:

[code]

If I run that `find` on other elements (like `L11` or `N1`) it works fine, but `AT7` and `MAN` throw that error.

[2013-06-19 10:34] #14 closed, assigned to nobody

[2013-07-02 18:06] jondecko opened #17 "uninitialized constant Stupidedi::Builder::BuilderDsl::Set (NameError)"
I was playing around with getting the example builder working in ruby verions 1.9.3 and ruby 2.0.0. However, I kept running the error that is listed in the title. From everything I gathered, the ruby "Set" class was not being included properly.

I was able to include the Set object in either of the following locations and building the sample EDI worked.
- Sample script file with the builder
- /lib

[2013-07-02 19:16] #17 closed, assigned to nobody

[2013-07-05 03:32] #15 closed, assigned to nobody

[2013-07-05 03:32] #16 closed, assigned to nobody

[2013-07-05 03:34] #5 closed, assigned to nobody

[2013-07-05 03:43] kputnam opened #18 "Iterating ISA segments doesn't work"
When we're positioned on an `ISA` segment, calling `find(:ISA)` never finds the next `ISA` segment. This may be due to a regression caused by #7, if we're ignoring

[code]

when searching with `#find` because

[code]

is favored, since it pops more nesting levels. This is one case were we actually _don't_ create a new parent container, since `TransmissionVal` is the root and _shouldn't_ have sibli

[2013-07-05 04:05] #18 closed, assigned to nobody

[2013-07-08 21:32] irobayna opened #21 "unkown interchange version while using 'edi-ed' on X12 856 sample file"
[TA105(file 856-EDI-sample.txt, line 1, column 4, unknown interchange version "00200", ISA)]
70 segments
0.042 seconds

Error line...
`ISA*00* *00* *01*054481205 *01*123456789 *070101*1130*U*00200*000000001*0*P*@!`

[2013-07-09 20:55] #21 closed, assigned to nobody

[2013-07-10 16:28] seanbehan opened #23 "Avoid Monkey Patching the Ruby Standard Library"
Hi,

Thanks for this library. There is a lot of great work here. I have a suggestion though.

There is a lot of monkey patching to the standard library (https://github.com/kputnam/stupidedi/tree/master/lib/ruby) and it is causing breakage for the Rails app I'm working on.

Are you open to the idea of moving away from monkey patching if I submit a patch?

[2013-09-17 15:21] irobayna opened #28 "Non-deterministic state"
running `edi-pp` against the latest message I am defining (`PS830`), I am getting the following output

[code]

Any ideas as of why?

[2013-09-17 18:44] irobayna opened #29 "composite elements - error parsing"
I got the following composite element definition

[code]

the data trying to parse is

[code]

I am getting this exception

[code]

I believe I have things setup properly on my end.

Any thoughts?

[2013-09-19 21:33] #29 closed, assigned to nobody

[2013-10-02 20:19] #28 closed, assigned to nobody

[2013-10-02 20:24] irobayna opened #30 "Incorrect variable use in exception block?"
In file `\stupidedi\lib\stupidedi\guides\004010\guide_builder.rb`

line 83

[code]

variable `....element_uses.length should be  ...component_uses.length`

right now I get the following exception when hitting the `InvalidSchemaError` exception:

[code]

[2013-10-03 12:50] #30 closed, assigned to nobody

[2014-02-05 01:30] ksaynice opened #35 "Rails4 delegate issue"
back trace when I tried to start rails console:
/Users/K/.rvm/gems/ruby-2.0.0-p353@momcorp/bundler/gems/stupidedi-67bade054f9e/lib/ruby/module.rb:71:in `class_eval': /Users/K/.rvm/gems/ruby-2.0.0-p353@momcorp/gems/actionpack-4.0.2/lib/abstract_controller/layouts.rb:212: syntax error, unexpected '.' (SyntaxError)
            class._layout_conditions(*args, &block)
                  ^
    from /User

[2014-06-05 02:36] #35 closed, assigned to nobody

[2014-06-05 03:16] #23 closed, assigned to nobody

[2014-07-20 09:39] ghost opened #43 "While traversing the document, elements cant be found using find method or element method"
I tried traversing a HB271 document but it doesn't generate expected results. Can you just give a small demo as in how to traverse a document. I tried it multiple times with failure.
I tried positioning the cursor at first and could find ISA and GS segment, but nothing from there after and received message saying that segment is unreachable from current state.

[2014-07-21 07:34] #43 closed, assigned to nobody

[2014-08-02 23:58] irobayna opened #44 "830 PO v2001 - BFR segment cannot be reached from the current state"
trying to parse something that loos like this:

[code]

I am able to iterate through all segments but for some reason, can't do it to `BFR`, instead of using `.iterate` I have to use something along these lines:

[code]

which works but I am confused as to why .iterate does not find that segment.  I get following message `Stupidedi::Exceptions::ParseError - BFR segment cannot be reached from the c

[2014-08-03 12:27] irobayna opened #45 "required element ISA02 is blank"
I have the have the following definition data element summary definition:

[code]

it is a mandatory field but must contain 10 spaces.  Any way to work around this?

I am trying to build the output file using:

[code]

[2014-08-03 12:27] #44 closed, assigned to nobody

[2014-08-03 15:12] irobayna opened #46 "Question: read a file, change a value, save it"
Having a `parser` I would like to modify just one value and then save it back to a different file

is it possible?

[2014-08-11 12:54] andrewthad opened #47 "Collision with Rails' try"
On ruby 1.8.7 with rails 2.3.18, I get an error trying to use stupidedi because rails and stupidedi both monkey patch Object with a try method. These are incompatible. Has anyone found a workaround for this? https://github.com/kputnam/stupidedi/blob/master/lib/ruby/try.rb#L17

[2014-08-13 06:58] ghost opened #49 "Json output"
Hey,

For the sake of argument is there a way in which I can get json output of the transformed document.

[2014-08-14 01:28] #45 closed, assigned to nobody

[2014-08-14 01:48] #49 closed, assigned to nobody

[2014-08-14 01:52] #47 closed, assigned to nobody

[2014-08-14 16:17] andrewthad opened #50 "The 4010 PO850 in contrib doesn't work"
Some of the segments in the PO850 don't have enough elements to match their definitions. This results in an exception about not having the right number of elements. I'd like to fix it by adding some of them to it, but I would need the PDF that originally informed these definitions.

[2014-08-15 15:21] #46 closed, assigned to nobody

[2014-08-17 20:33] irobayna opened #51 "Problem parsing - ideas needed"
When I first implemented message RA 820 v3010, I was getting lots of non-deterministic problems and with your guidance we collapse some loops and items and both tools: edi-pp and edi-ed parse the data correctly.

My problem is that if I manually traverse the tree, I get to a loop of `N1` items which belong to a particular segment and the parser parses all the `N1` not just the ones that belong to

[2014-08-24 13:56] irobayna opened #52 "cannot move to next after last node"
While generating EDI 856 SH, I am getting this error.   As far as I can tell this is a valid transition.

Here is my code

[code]

call stack:

[code]

[2014-08-26 23:43] #52 closed, assigned to nobody

[2014-09-11 18:33] andrewthad opened #53 "stupidedi does not add end segments"
In the example for generating an EDI file on README.md, the declarations of the end segments are omitted. I assumed that this was because stupidedi would generate them for me. However, when I copy that example into a ruby script and then change the definition of `config` to the following:

[code]

I have to change this definition or else it doesn't work at all. Anyway, when I do this, the output I

[2014-09-11 18:42] #53 closed, assigned to nobody

[2014-10-06 17:48] kfalconer opened #55 "SH856 - Parsing Specific Loop / Navigating Document"
I am having a hard time understanding exactly how to navigate with the API.

There are multiple Loop definitions for HL (one for the shipment, and one for each line item).

I am able to extract information for the first HL loop, but not the second one.

Here is the sample file:

[code]

Ruby Code:

[code]

Output:

[code]

For more requirements, I'd only need the Carrier, OrderID, and a single Way

[2014-10-21 11:38] praveen-ms opened #56 "Medicare Claim to 837 EDI"
Im getting this error when try to generate EDI:
Stupidedi::Exceptions::ParseError: unknown transaction set "HC" "837" "005010X223A1"

Code:

config = Stupidedi::Config.default

    config.interchange.register("00501") {Stupidedi::Versions::Interchanges::FiveOhOne::InterchangeDef}
    config.functional_group.register("005010") {Stupidedi::Versions::FunctionalGroups::FiftyTen::FunctionalGroupDef}

[2014-10-22 03:17] #55 closed, assigned to nobody

[2015-01-30 20:09] irobayna opened #58 "Ruby 2.2.0 - specs failures"
Just an FYI, 18 specs are failing.  I will start looking into it now

[2015-01-30 21:34] #58 closed

[2015-01-30 22:36] irobayna opened #59 "edi-pp reports unknown transaction set "PS" "830" "004010" when using ruby 2.2.0"
Sample EDI files that parsed correctly prior to ruby2.2.0 are failing now

[code]

[2015-01-31 14:20] #59 closed

[2015-02-04 05:04] kputnam commented on #58
Looks like you were able to get everything fixed? Nice work, thanks Isi!

[2015-02-04 11:46] irobayna commented on #58
Hi Kyle, looking good now.  Thank you!

[2015-03-18 18:19] limratana opened #62 "including gem causes infinite deprecation warnings"
I find that including this as a gem causes the following error over and over on tests:

    Passing options to #find is deprecated. Please build a scope and then call #find on it.

If I do require: false, then no problems, unless I require the library in a test.

[2015-03-18 20:36] limratana commented on #62
I narrowed it down and submitted a pull request undoing the change which breaks my tests : https://github.com/kputnam/stupidedi/pull/63

Admittedly, I do not fully understand why this library appears in this gem nor what kind of impact the change has.

[2015-05-26 18:47] mlooney opened #65 "Memory/performance"
Hi there,

I've been doing some benchmarking and am puzzled by the memory footprint i'm seeing. Do you expect MRI to use up 2.5+gb of RAM to parse (not pp) a 9mb SC832 doc, with run times well over 4min?

Seems a little... excessive.  Is there a trick I'm missing?

[2015-05-27 20:19] kputnam commented on #65
Hi McClain,

Yes that does seem strange. It has been quite a while since I've been involved with X12 and I won't have time to investigate, but one thing that comes to mind is perhaps you have more than one SC832 in your file.

If that is the case, I think there is a way to avoid building the entire tree at once. I think there is some sample code (examples/split.rb iirc) that might help with that.

[2015-06-02 15:01] mlooney commented on #65
It is indeed a document with about 20 832s containing about 5000 line items for a large manufacturer (all skus for an entire line), but is actual data I have to deal with some day.

Turning off GC brings the runtime down to a minute or so, but the heap usage clearly pays the price, so I'd hazard to guess that it's heap thrash generally.

Having dealt with other EDI parsing libs for a minute, it se

[2015-06-23 18:34] johnslattery commented on #65
Hi,

I'm seeing something I think is at least similar to what McClain is seeing. Parsing a nearly 5 MB 837 file eventually consumes over 800 MB of RAM. What's more concerning is what I see when I parse 90 or so 837s, varying in size from a few KB up to 4 or 5 MB, in a go. The ram consumed grows fairly steadily to nearly 2 GB by the time all is said and done.

I took a look at notes/split.rb but do

[2015-10-07 21:43] serixscorpio opened #67 "hash.present? conflict between rails 4.2.4 and tins 1.x"
Recently when I attempted to upgrade to use rails 4.2.4, along with stupidedi, I came across a method definition conflict.
stupidedi depends on term-ansicolor, which depends on tins.  Tins add `present?` method to Hash.
rails 4.2.4 also add `present?` method to Hash in its [active support core extensions](http://guides.rubyonrails.org/active_support_core_extensions.html).
The semantics of the abov

[2015-10-07 22:30] serixscorpio commented on #67
Actually, an update here.  It seems stupidedi uses `present?` widely as an internal interface (perhaps?)  See `lib/ruby/blank.rb`
[code]
This conflicts with rails `present?`.

[2015-11-02 22:15] michaelachrisco opened #68 "Example file fails parser"
The example file from the example fails with a `InvalidEnvelopeVal`:
[code]

[2015-11-03 04:15] kputnam commented on #68
Good catch, thanks! This was caused by using a `Stupidedi::Config` without HIPAA grammars wired in. Now both contrib and HIPPA grammars can be used.

[2015-11-03 04:15] #68 closed

[2015-11-03 04:16] michaelachrisco commented on #68
Awesome thanks! Ill try this config out on a similar example file when I get a change.

[2015-11-18 02:11] #56 closed

[2015-11-18 21:17] dajwilli opened #69 "Generator example returns parse error"
I am looking to use this gem to generate 837 professional claim file. ButI can't get the example provided for generating claims to work. The following error is return when trying to generate the ST data segment:

Stupidedi::Exceptions::ParseError: unknown transaction set "HC" "837" "005010X222"

Do I have to set some config settings for the transaction header?

[2015-11-19 04:45] kputnam commented on #69
Thanks for reporting this. Was the example you followed [this one](https://github.com/kputnam/stupidedi#generating-writing) from the README?

The line near the top should read `config = Stupidedi::Config.hipaa`. Since writing the README, the HIPAA grammars (including 837) were removed from `default` constructor and put into the `hipaa` constructor.

[2015-11-19 04:49] #69 closed

[2015-11-24 04:59] kputnam commented on #67
Sorry for the slow response. Yes, you can simply remove the dependency on term-ansicolor and the terminal output will be ordinary black-and-white.

However, you are correct that `present?` is regrettably defined by monkey-patching the `Object` class. This method and a few others are all defined in `lib/ruby`.

There was a proposal in the comments of #48 to use Ruby's refinements to limit the scope

[2015-12-10 19:30] johnstem opened #70 "Rails 4.1 ActiveSupport MultiJSON"
I am trying to add stupidedi to my project.

After adding stupidedi, immediately upon logging into my application (I am using Devise) I receive the following error,

ArgumentError - In Rails 4.1, ActiveSupport::JSON.decode no longer accepts an options hash for MultiJSON. MultiJSON reached its end of life and has been removed.

I saw what looked like a similar issue here,
https://github.com/kputnam

[2015-12-11 01:09] kputnam commented on #70
Can you paste a stack trace and which versions of Devise and ActiveSupport you used? I don't use either Devise or Rails much, so I'm not sure where to begin looking except their source code.

[2015-12-11 01:37] alexkyllo commented on #70
I got this error as well with Rails 4.1 + stupidedi and without devise. So I don't think devise is related. I thought it was a bug in Rails rather than stupidedi, so I just switched that project to Sinatra instead. In retrospect I think it was a stupidedi + rails 4.1 incompatibility. I can try to reproduce again tonight.

[2015-12-11 14:42] alexkyllo commented on #70
It's because of stupidedi monkeypatching the hash.present? method.

lib/active_support/json/decoding.rb calls this method and throws an execption:

https://www.omniref.com/ruby/gems/activesupport/4.1.6/symbols/ActiveSupport::JSON/decode#line=20

Here's a stack trace:

Started GET "/" for 127.0.0.1 at 2015-12-11 06:40:26 -0800
Processing by HomeController#index as HTML
Completed 500 Internal Server

[2015-12-11 15:07] johnstem commented on #70
Thank you very much for your quick response! The error I am getting does indeed seem to be the same as what alexkylio has posted.

My devise version is 3.4.1 although given what alexkylio has posted a devise issue seems less likely.

After double checking my gemfile, even though the error message refers to Rails 4.1 I can confirm that my Rails and ActiveSupport versions are both 4.2.4.

The stack

[2015-12-16 18:52] johnstem commented on #70
alexkylio is correct, this does seem to be an issue with the monkey patches of native classes located in the lib folder.

This is an unfortunate problem that does not seem easily fixable. I don't think refinements will be of much use here since they will simply fall out of scope.

http://pchm.co/the-problem-with-refinements-in-ruby/

When using Rails, simply removing the blank? and present? Object

[2015-12-17 01:19] kputnam commented on #70
@johnstem Thanks for the link, I haven't invested the time to understand how refinements work, so the article helps. I'm hesitant to change hundreds of files to find out it won't fix the problem!

Regarding if using ActiveSupport's methods is safe, I'm with you -- not sure. I actually started by copying a few definitions from ActiveSupport, and didn't want to drag the entire library into the proje

[2015-12-17 01:30] kputnam commented on #70
@alexkyllo Thanks for the details and the stack trace! I'm not sure I have the time to address this, but it's been a lingering problem for a while. I'll spend some time this week to see if either refinements or requiring ActiveSupport (better to have them patch the standard library) are viable options.

If I have the time, I'll also implement the changes, but it's more likely that I'll post a requ

[2015-12-17 22:07] michaelachrisco opened #71 "834 fails on parsing"
https://github.com/kputnam/stupidedi/blob/master/spec/fixtures/X220-BE834/3-good.txt
Fails on parsing 834 data:
[code]

Looks as if it does not like the transaction set BE. Ive also run this over some "valid" 834 files in my company with the same result, getting stuck in set BE.

Any ideas?

[2015-12-18 04:23] kputnam commented on #71
Hi Michael, that error message means the `config` doesn't have a mapping from "BE" "834" "005010X220" to a grammar (either a `Guide` or a `TransactionSetDef`). While I included those example files, I didn't have documentation about the grammar, so I wasn't able to implement that.

If you have some documentation, you can implement your own grammar; it's usually straightforward if a bit tedious. You

[2015-12-18 04:23] #71 closed

[2015-12-18 14:50] michaelachrisco commented on #71
Ya its a specific version of the 834 that is based(?) on the specs. I may need to dig up an original 834 X12 to see how well they adhere to the standard. I appreciate the help and thorough description. I am having to build out a lot of X12 docs and I would rather use a verifiable gem than a custom solution.

Ill take a look at the guides. Thanks again!

[2015-12-24 19:49] michaelachrisco commented on #71
Thanks for the help @kputnam! I was able to get validation working for the specific version of the 834. The only problem is the proriatary format...

If anyone has a copy of the origional 834 format, ill give a shot at adding a "standard" 834 and adding it to stupidedi.

Something like: http://www.dhcs.ca.gov/formsandpubs/laws/hipaa/Pages/2.02_834_Transaction-Benefit-Enrollment.aspx may help? Not

[2015-12-25 11:20] irobayna opened #73 "Leverage ruby 2.3.0 frozen string literal pragma?"
@kputnam Now that ```ruby 2.3.0 ``` has been released I am wondering if we should try experimenting with the new ```frozen string literal pragma```?  In theory sounds like ```stupidedi``` could benefit from it, i.e: less memory usage and faster processing.  Thoughts?

[2016-01-25 16:47] irobayna commented on #73
@kputnam I have created a new branch ```inmmutable_string``` with the needed changes to support immutable strings (add magic comment line to each file ```# frozen_string_literal: true```) in preparation for ```ruby 3.0``` which will have this behavior by default.  All specs run now and I am about to exercise this code with some real transactions.

Can you think of anyone I can ping to help exercis

[2016-01-27 06:00] kputnam commented on #67
Fixed by #72

[2016-01-27 06:00] #67 closed

[2016-01-27 06:01] kputnam commented on #62
I believe this is fixed by #72. Let me know if you're still able to reproduce it.

[2016-01-27 06:01] #62 closed

[2016-01-27 06:03] kputnam commented on #73
You might look at places where we use `<<` to find other potential issues:

[code]

[2016-01-29 14:56] irobayna commented on #73
@kputnam done!

Specs run OK

```845 examples, 0 failures, 12 pending```

I wonder if by having frozen strings we will see less memory consumption and perhaps a performance boost.

[2016-04-02 13:43] irobayna opened #74 "Floating Fields?"
@kputnam Did you ever heard of ```Usage:``` ```Floating```?

I have come across a more accurate specs for one of the messages I implemented and realized a segment I struggle with happens to be ```Floating```.

It appears floating means that it can appear anywhere.  Any thoughts on how to handle this?

[2016-04-04 14:59] irobayna commented on #74
It appears ```Floating``` fields are discouraged, so never mind. closing this.

```F``` Floating

disallowed for insertion into any existing or new transaction sets, and
discouraged for use or implementation in older transaction sets.

[2016-04-04 14:59] #74 closed

[2016-04-04 15:19] kputnam commented on #74
Nope, I haven't heard of it but I'm glad it's discouraged. I have no idea how we would address those :-)

[2016-04-13 19:06] tamagokun opened #75 "writing document fails (no method error "present?")"
Trying to generate an EDI document using the sample code from the documentation:

[code]

Getting the following no method error:

[code]

Thought that it was my ruby version, upgraded to 2.3.0, but still no luck. It seems like maybe this is an issue with refinements? Any help would be appreciated.

[2016-04-13 20:37] kputnam commented on #75
Ah, yes it is caused by refinements. It seems indirectly invoking a refinement method via `&:present?` won't work, but I think this can be fixed by spelling it out `.select{|x| x.present? }`.

I should have time to address this and other places it might occur within a day or two. Thanks for filing a bug!

[2016-04-14 00:36] kputnam commented on #75
This was the only instance where a refinement method was called indirectly (the others were fixed previously). It's fixed in `master` and @irobayna or I will do a release soon. Thanks again for the report.

[2016-04-14 00:36] #75 closed

[2016-04-14 00:37] kputnam commented on #73
Not sure if you're waiting for me, but feel free to merge it!

[2016-04-14 01:08] irobayna commented on #73
Ok. I will :-)

Sent from my iPhone

[2016-04-14 13:06] #73 closed

[2016-04-14 15:07] tamagokun commented on #75
Excellent, thanks!

[2016-04-15 02:29] #70 closed

[2016-04-15 06:42] shioyama opened #78 "Support for reading UTF-8 strings"
It seems that stupidedi does not support UTF-8 chacaters when reading out an EDI. I get:

[code]

Digging a bit I found that `Stupidedi::Reader::C_BYTES`, defined [here](https://github.com/kputnam/stupidedi/blob/c5b9b5e37cd0ea76f722f0bb7f5bc851bb790a97/lib/stupidedi/reader.rb#L41), only includes ASCII characters and crashes [here](https://github.com/kputnam/stupidedi/blob/c5b9b5e37cd0ea76f722f0bb7

[2016-04-15 07:47] shioyama commented on #78
I've just done this for now:

[code]

Not really a solution, but enough so I can continue testing.

[2016-04-16 00:54] kputnam commented on #78
Unfortunately, X12 does not support UTF-8. The specification lists the set of allowed characters which is `H_BASIC` (a subset of `C_BYTES`). There is an extended set of characters, `H_EXTENDED`, which can be used if both trading partners agree.

If you're constructing a X12 document to send to someone, you may have to transcode your UTF-8 to the limited character set. I would be surprised if exten

[2016-04-16 01:19] kputnam commented on #78
I'm trying to think through how it would work, but one thing that might cause trouble is `Reader.is_control_character?` returns true if a character isn't in `H_BASIC` or `H_EXTENDED`. So I think most UTF-8 would be treated as control characters.

From what I can work out, the `consume_isa` method in `StreamReader` will look for the start of the document, which is always `ISA`, and ignore control c

[2016-04-18 02:26] shioyama commented on #78
@kputnam Thanks very much for the detailed reply! If X12 does not support UTF-8, then I think that's enough to convince me to not use it. Actually our partner asked us if we could send it in non-UTF-8 characters so I think we'll have to do that.

Now just have to think of a way to map UTF-8 (Japanese) addresses into corresponding English addresses... which is a slightly different problem.

[2016-04-18 02:26] #78 closed

[2016-04-18 17:27] kputnam commented on #78
Good luck!

[2016-04-19 08:12] shioyama commented on #78
For anybody who encounters this problem, [geocoder](http://www.rubygeocoder.com/) is your friend:

[code]

[2016-05-06 11:29] PetriWessman opened #81 ""non-deterministic machine state" when generating 837 2310E/2010F"
Hi, I'm trying to convert a (horrible) hand-generated EDI "generator" to use stupidedi. Slowly figuring things out, but ran into this issue (and a few others, but separate tickets for those).

When trying to generate the 837 output, I'm getting:

"non-deterministic machine state: NM1 Rendering Provider Name, NM1 Service Facility Location Name, NM1 Ambulance Pick-up Location, NM1 Ambulance Drop-off

[2016-05-06 11:37] PetriWessman opened #82 ""can't modify frozen String" from float_val.rb while generating 837 output"
Using ruby 2.3.1 and latest stupidedi (1.2.9), I get the following error when trying to generate 837 output. Not sure exactly which field is triggering it, but it's some numeric one based on the stack trace. The code there (in float_val.rb) does look a bit suspicious with regards to frozen strings.

[2016-05-06 12:44] PetriWessman commented on #81
Added: looks like it's specifically the 2010F segment (dropoff location) which is causing the problem. Even if I only have that defined, I get the same error. With only 2010E (pickup) defined, no problem.

[2016-05-06 17:53] kputnam commented on #81
I can take a closer look this weekend, but I suspect the qualifier code `42` is not listed in the grammar for any of the loops, or maybe it's listed for more than one of the 2010 loops? You can check this in the source in `https://github.com/kputnam/stupidedi/blob/master/lib/stupidedi/guides/005010/`. Which version of 837 are you using specifically (or what do your GS and ST segments look like)?

[2016-05-06 18:09] kputnam commented on #81
Oh, I missed it the first time but you said, `non-deterministic machine state: NM1 Rendering Provider Name, NM1 Service Facility Location Name, NM1 Ambulance Pick-up Location, NM1 Ambulance Drop-off Location`. You mentioned 2010, but I think you must have meant 2310?

This means the parser doesn't know which one of those loops to generate from your input, `b.NM1 '42', '2'`. First, make sure the lo

[2016-05-06 18:14] kputnam commented on #81
One other point: why didn't it complain about the other `NM1`s in other 2310 loops like A, D, etc? Because your second element, `2` excludes those as possible matches. Those `NM1` segments only allow `1` as the second element. The remaining four `NM1`s -- B, C, E, F -- all allow `2` in the second element. Hopefully this sheds a little light on how the parser works.

[2016-05-06 18:25] kputnam commented on #82
Thanks for the report, this is fixed now in `master`. @irobayna, would you create a new release when you have time?

[2016-05-06 18:25] #82 closed

[2016-05-06 18:44] irobayna commented on #82
@kputnam done!

[2016-05-06 18:59] PetriWessman commented on #81
Ah! Damn, now I feel *really* stupid. It was just a matter of typo... that '42' should be '45', and I even thought I checked if (from those grammar files files you linked to). And yes, 2310, not 2010, that was a typo too.

Guess I was just tired, after juggling this for all too many hours. I expect things to work when I change that '42' into the '45' it should be, first thing on Monday...

A **hug

[2016-05-06 19:00] PetriWessman commented on #81
I'll look into writing a minimal example of this, as requested, if you want to improve the error message in cases like this.

[2016-05-06 22:19] kputnam commented on #81
No reason to feel stupid, I feel the blame on this one! If the error message was more helpful, you probably would have been able to fix it immediately, at least that's how I think it ought to be. Thanks for the report and I'll look forward to your example.

[2016-05-06 22:21] kputnam commented on #82
Thanks Isi!

[2016-05-09 07:53] PetriWessman commented on #81
Confirmed, works fine with '42' -> '45. Excellent. I'll close this ticket and send you a standalone test file later today.

[2016-05-17 21:36] gisborne opened #83 "Fails on valid file"
Doing this:

input = File.open("file.x12",  :encoding => "ISO-8859-1")
config = Stupidedi::Config.default
p, result = parser.read(Stupidedi::Reader.build(input))

Fails on this believed-good input:
ISA_00_          _00_          _ZZ_PANALPINA      _02_ANOC           _160503_2119_U_00401_000000001_0_T_
GS_SM_PANALPINA_ANOC_20160503_2119_1_X_004010
ST_204_000000001
B2**ANOC**715658442-01**PP
B2A_00

[2016-05-18 03:11] kputnam commented on #83
Hi Guyren,

It looks like your example has an incomplete `ISA` segment. The last element `ISA16` should be the component separator, which is a single-character delimiter. Usually this is In your example, this character at the end of the `ISA` is missing, so the parser skips to the next line and reads `G` as the next character.

I'm not sure exactly what message you see, but I hoped it would be an

[2016-05-18 08:12] PetriWessman commented on #81
Just to confirm: I sent you email May 10th to an address which I *think* is yours (gmail) with a test code sample for this case (and one other issue having to do with ST..SE counts. Did you ever receive it or did it end up in a spam filter somewhere? :)

[2016-05-18 08:21] PetriWessman commented on #81
In case you didn't receive it, here's the test file via Gist. I'll reopen this ticket so that you notice this, please close afterwards :). Thanks.

https://gist.github.com/PetriWessman/d2e574ec2760bd779f2e68fe22e964d1

[2016-05-19 05:39] kputnam commented on #81
Sorry I hadn't replied to your email but I did get it. I've just been behind on email!

Thanks again for providing an example, it might be a while before I can act on it, but having an example will hopefully make quick work of fixing the error message.

[2016-05-19 05:39] #81 closed

[2016-06-07 05:12] gisborne opened #85 "214: E66, E706 elements declared mandatory"
I'm trying to create a 214 (Carrier Shipment Status Notification). I'm trying to create the N1 element,

b.N1 "SH", "SILVERADO VINEYARDS C/O DFS", "1"

but I'm being told that N103 and N104 elements are required.

Stupidedi::Exceptions::ParseError: value is too short in element N103

This would appear to be in functional_groups/004010/segment_defs/N1.rb.

I'm a little new to this EDI business, but

[2016-06-09 21:28] pepito2k opened #86 "HC837i support"
Hi,

I need to create HC837p as well as HC837i health claims.
I already have everything for the 837p, but I don't see any code for validating X223HC837P.

Is there any 'easy' way to validate that standard ?
If not, can you guide me a little bit on what should I modify/add to get it to work ? I have the standard documentation and I am willing to make the effort to add the support to the gem but It

[2016-06-11 00:17] kputnam commented on #86
Yes! I don't think I had the "implementation guide" documentation on 837i, but if you have it, I can definitely help you encode that into something useable. I'll try to get back to you with details over the weekend.

[2016-06-11 03:20] kputnam commented on #85
Based on the error message, `value is too short in element NM103`, it looks like you did provide a single-character value `"1"`. The element type is [`E66`](https://github.com/kputnam/stupidedi/blob/master/lib/stupidedi/versions/functional_groups/004010/element_defs.rb#L68), which is declared to require 2-3 characters. However the list of allowed values clearly has values with a single character,

[2016-06-11 03:22] kputnam commented on #85
@gisborne Out of curiosity, did the error about `NM104` state `elements NM104 must be present when elements NM103 are present`, like I expect? If not, please paste the error you saw... I'll want to correct that if it wasn't the case.

[2016-06-11 21:55] gisborne commented on #85
I'm doing:
`builder.N1 "SH", sender`
and being told:
`Stupidedi::Exceptions::ParseError: required element N103 is blank`

[2016-06-11 22:04] gisborne opened #87 "Unable to create 210: 'unknown transaction set "IM" "210" "004010"'"
I'm trying to create a 210. When I try to create the ST, I get the above error.

This is quite the grammar engine you've built here. AFAICT, this is happening because we're missing a suitable entry in lib/stupidedi/config/contrib/004010/guides.

I've done:
`builder.ISA "00", nil, "00", nil, "02", "ANOC", "ZZ", "PANALPINA", "160611", "1457", "U", "00400", "1", "0", "T", ">"

builder.GS "IM", "ANOC"

[2016-06-13 15:22] pepito2k commented on #86
I can send you the file with the specification if that helps you to make a quick 'how to' adapted to that file.

[2016-06-14 03:47] kputnam commented on #86
Yes, that would help. There are a few different kinds of documentation, and I don't have any of them handy. Thanks! (Sorry I didn't have time to get back to you this weekend.)

[2016-06-14 04:25] pepito2k commented on #86
No prob, here's a link to the file: https://dl.dropboxusercontent.com/u/14328808/x223.pdf

[2016-06-14 11:03] kputnam commented on #86
Excellent, that's exactly what you'll need! I'll start writing up a brief guide on how to turn this into a usable definition. Probably will take a day or two.

[2016-06-17 18:13] pepito2k commented on #86
Hey, any news on the brief guide ?

[2016-06-19 20:55] kputnam commented on #86
Yep, I've got some notes in `doc/Transcribing.md`. Feel free to ask questions, of course.

[2016-06-20 11:22] irobayna commented on #85
@kputnam Yes, it was a mistake

It appears the ```Min/Max``` declaration should have been ```1/2```

BTW, you are also correct on the syntax rules.  These are defined as follows for N1
[code]

[2016-06-20 11:29] irobayna commented on #85
@kputnam I have committed change to master

[2016-06-21 00:53] kputnam commented on #85
Thanks Isi!

[2016-06-23 05:45] gisborne commented on #85
Please update lib/stupidedi/version.rb with a new version number so bundler notices the change and I can update.

[2016-06-23 06:31] gisborne commented on #87
Also getting 'unknown transaction set "IM" "210" "004010"'

[2016-06-23 14:54] irobayna commented on #85
@gisborne new version available

[2016-06-23 14:54] #85 closed

[2016-06-23 19:58] irobayna opened #88 "Extra space on TD5 segment"
While generating a SH856, I am getting an extra space on TD5 on the second field (E66)

Example:

```TD5*B*2 *XYZZ*M````

TD5 is defined as:

[code]
and

E66 is defined as:

[code]

Any ideas?

[2016-06-24 04:49] kputnam commented on #88
Hmm, my first guess was `E66` might have a minimum length of 2, but that doesn't appear to be the case. I'll take a closer look.

[2016-06-24 05:11] kputnam commented on #88
I can't reproduce this. Here's what I tried: modifying `spec/fixtures/SH856` so the GS segment is from `004010` (rather than 002001). Then I added a `TD5` segment after the `TD1` to match what you have. Lastly, I added these lines at the end of `bin/edi-pp` to print the X12:

[code]

The output doesn't seem to have an extra space:

[code]

[2016-06-24 12:54] irobayna commented on #88
I am going to extract the logic, I am using to generate this message so you can run it on your side.  It does not make sense as I see most segments doing the right thing, yet this one does not.  I am passing the single character ```'2'``` to the value yet ```'2 '``` (2 plus a space comes out)

I started to poke around and see if I can determine where the problem is coming from.  Do you recall wher

[2016-06-24 14:05] irobayna commented on #88
I wrote a test file and it works as expected.  I believe I might have an issue with the gem version I am using, meant to use the latest but I think I might be using an older one or have two versions on the server.  Will investigate.

Thanks for your help!

[2016-06-24 14:21] #88 closed

[2016-06-24 14:39] kputnam commented on #88
Ah, that might be the cause. You can try inspecting the `E66` object at runtime, I think it might include min/max lengths in the output of `p`... if you see the min length is 2, that would explain it. To answer your question, `ID.new` is in `element_types/identifier_val.rb` (for whichever version of X12), and `ID` is an alias for the `IdentifierVal` class.

[2016-06-24 14:47] kputnam commented on #83
@gisborne Were you able to figure this one out? It seemed to be a problem with your input (though I'm not sure what error you saw), but if you don't think that is the case let me know and include more details so I can troubleshoot.

[2016-06-24 15:06] kputnam commented on #65
Yeah, now that I look at `split.rb`, you are right. It parses the whole file before splitting it up! If either of you (@johnslattery or @mlooney) are able, please email me the file that's causing the problem so I can try to reproduce it.

I'm hoping there is an obvious memory leak that I can find with a profiler. One possible cause is creating new versions of sections of the parse tree as they are

[2016-06-24 17:39] gisborne opened #89 "Have closing entries generate their own counts"
It is awkward, inconvenient and surely unnecessary for me to have to keep track of the number of lines in the ST segment.

Is there a way to get the count? Even better, can I just do b.SE and have it fill in the details?

Actually, the Rubyish way would be a block:

b.ST do
…
end

[2016-06-24 20:06] kputnam commented on #89
Please see https://github.com/kputnam/stupidedi/issues/53

[2016-06-24 20:06] #89 closed

[2016-06-24 20:13] gisborne commented on #53
I'm a little confused. This:

`      m = builder.machine
      builder.SE(2 + m.distance(m.parent), "0001")
`
appears to be what should generate a correct SE, but I get "NoMethodError: undefined method `zipper'"

[2016-06-25 00:43] kputnam commented on #53
It looks like the problem is `m.parent` is not a `StateMachine` (where has `zipper` defined). Looking at the documentation, the return type of `m.parent` is `Either<StateMachine>`; this is because an empty tree has no parent, so the result is wrapped.

You can read about how to use `Either` values here (really, we should make a separate document just about `Either`):
* <https://github.com/kputnam/

[2016-06-25 00:47] kputnam commented on #53
Also, if you look at the example @andrewthad pasted, you can use `m.parent.fetch` which will return the `StateMachine` if `m.parent` was a success or return `nil` on failure.

[2016-07-05 19:50] johnslattery commented on #65
Thanks for looking at this, Kyle. I'm not able to provide any files; all I
have are production 837s. Sorry.

On Fri, Jun 24, 2016 at 10:06 AM, Kvle Putnam <notifications@github.com>
wrote:

[2016-07-06 02:26] kputnam commented on #65
Ah, I understand. You could replace identifying information with randomized text, but that might be a lot of work for a large file, and it might even take a bit of work to review which elements should be randomized.

I'll leave the issue open; if you or anyone has some test files at a later date, we can work on it!

[2016-07-12 12:21] tamagokun opened #90 "required segment SE is missing from table Table 3 - Summary"
I'm working on generating a 40010 850 document, but running into an issue near the end of the document.

It seems if I add a `CTT` segment, I get this error about `SE`, but if I leave `CTT` out, everything works fine. So, i'm assuming there is something wrong either in the segment definition or the transaction set definition.

Here's the error:

[code]

And here is a basic sample of the end:

[cod

[2016-07-15 15:48] tamagokun commented on #90
Not sure why, but moving `SE` to its own table def seemed to fix it.

[code]

[2016-07-15 15:48] #90 closed

[2016-07-15 16:32] kputnam commented on #90
Hey Mike, I'm not familiar with the 850 grammar, but I've noticed a similar thing with some of the HIPAA grammars. The documentation makes it look like `SE` goes at the end of a `TableDef.detail`, but that would mean it could be repeated (since detail tables can repeat).

I think it's almost always the case that `SE` should be in a `TableDef.summary` (you might want to change yours from `.header`)

[2016-07-15 17:39] tamagokun commented on #90
Ah, thanks for that. I'm still wrapping my head around EDI documents.

Changing `header` to `summary` here worked like a champ (https://github.com/kputnam/stupidedi/blob/master/lib/stupidedi/contrib/004010/transaction_set_defs/PO850.rb#L42)

[2016-07-15 20:35] kputnam commented on #90
@irobayna I noticed in that file (PO850 for 4010) that Table 2 is also `header` but should probably be `detail`. Not sure if it matters, but thought you might want to take a look.

[2016-07-29 15:12] mlos100 opened #92 "Error running statements from irb w/ ruby 2.3"
While trying to enter statements from edi-pp into irb with Ruby 2.3. 1, I encountered an error, Can't modify frozen string.  I was using Ubuntu; a colleague, who confirmed the issue occurred for him also, was on a Mac.

I've attached a screen shot that depicts the statements we executed.

<img width="983" alt="screen shot 2016-07-28 at 10 49 16 am" src="https://cloud.githubusercontent.com/assets/3

[2016-07-29 17:15] irobayna commented on #92
@mlos100 Try the latest version v.1.2.12,  pull request #[91] fix this issue

[2016-07-29 17:15] #92 closed

[2016-08-01 15:37] mlos100 commented on #92
Thanks!  I'm working in irb to try to get familiar with the different structures.

[2016-09-14 13:09] tamagokun opened #95 "m.distance (between) thrown into endless loop"
I am trying to calculate the number of segments between the current position in the builder and the previous ST segment. I've seen #53 and the methods used there. However, it is getting into an endless loop.

Here's the snippet for some context:

[code]

I've managed to track down the issue to this loop (https://github.com/kputnam/stupidedi/blob/master/lib/stupidedi/zipper/abstract_cursor.rb#L110-

[2016-09-14 13:18] tamagokun commented on #95
Ah ha! Actually, this change worked. I was manually calling between on the two cursors rather than fixing it to use `m.distance` which was causing the issue.

If you would like a pull request to fix that loop, I can do that!

[2016-09-14 13:18] #95 closed

[2016-09-14 18:34] kputnam commented on #95
Yes, I've run into this but couldn't reproduce it. I'll gladly accept a PR to fix it, your proposed change looks correct to me.

[2016-10-25 17:36] jakeonfire opened #97 "LoopDefs do not support segments between loops"
I'm trying to implement the BE 834 spec (Benefit Enrollment and Maintenance) and am having a couple issues. For one, within one of the loops there are header segments, child loops, then another segment to indicate whether a final loop (or multiple) is present, and LoopDef cannot currently handle this format. I noticed there are some other incomplete specs (e.g. HB271) which also have this structur

[2016-10-27 04:57] kputnam commented on #97
Hi Jake, let me get back to you on this over the weekend. I recall LoopDef isn't designed to have segments between child loops, and more importantly, the parser wouldn't know what to do with them, but I'll have to spend some time to reacquaint myself before I can offer any suggestions.

Regarding the second problem, you can use a TransactionSetDef as long as it's wired into the `Config` -- maybe y

[2016-10-31 04:59] kputnam commented on #97
I haven't looked at BE 834 yet, but it might be possible to make a grammar that deviates a bit from the actual specification. This will be much easier than trying to change the parser to handle this (which would be very difficult and risky to do at this point, I think).

For instance, in the case of HB 271, you could move the LS segment to be an optional segment just before the 2115 loop (to handl

[2016-10-31 18:36] jakeonfire commented on #97
I'll try this out on Wednesday. Sounds like it should work.

[2016-11-03 04:19] jakeonfire commented on #97
in the case of BE 834 there are 9 optional loops before the final optional segment [LS] and loop [2710], so this pattern requires 10 misplaced LS segments (the first at the end of the last required loop [2100A] and the others at the end of the following 9 optional loops [2100B - 2100H, 2200, and 2300]). That's quite a few...

Also, the detail header's first loop is unbounded in the spec, but that

[2016-11-03 22:31] jakeonfire commented on #97
I fixed the segment-between-loops issue by adding another loop (which is kind of an implied loop anyway, it's part of the 'Standard'), and that feels better than 10 misplaced segments. I also added an optional, last, named parameter to TableDef.detail to allow setting `repeat: false` (the default is `true`). And now it seems to work! I ran `edi-ed` against the samples and they seem to work. I'll t

[2016-11-03 22:31] #97 closed

[2016-11-10 15:00] pradoshac opened #99 "stupidedi / Issues on Parsing HC 837 file"
require "stupidedi"

config = Stupidedi::Config.hipaa
parser = Stupidedi::Builder::StateMachine.build(config)

input  = File.open('D:/stupidedi/myfile.txt' )

# Reader.build accepts IO (File), String, and DelegateInput
parser,result = parser.read(Stupidedi::Reader.build(input))

# Report fatal tokenizer failures

if result.fatal?

  result.explain{|reason| raise reason + " at #{result.position.ins

[2016-11-10 15:01] pradoshac commented on #99
a section from MY input HC837 file is below..
ISA*00*          *00*          *ZZ*CIRIUS         *ZZ*WH             *150113*1345*^*00501*109201135*0*P*>~
GS*HC*CIRIUS*WH*20150113*1345*109201135*X*005010X223A2~
ST*837*000092*005010X223A2~
BHT*0019*00*MIRUS092 I-01132015*20150113*1345*CH~
NM1*41*2*WESTLAND HOUSE*****46*WH~
PER*IC*CIRIUS SUPPORT*TE*9256859300*FX*9256856526~
NM1*40*2*WH*****46*WH~
HL*1

[2016-11-11 08:07] #99 closed

[2016-11-12 03:31] kputnam commented on #99
I'm not sure I can diagnose the problem from what you've described. Does it print anything at all from the 837 file, or is it only missing the payer information? Two tools you can use to be sure the file is valid in in `bin/edi-pp` and `bin/edi-ed`, which should print information to the console.

It could be the file you provided simply doesn't have any information that matches what you're looking

[2016-11-12 08:04] pradoshac opened #100 "support for HC837 005010X223A2"
I need to generate an  HC837 005010X223A2 file by using stupidedi. Is it supported or not?`
The first 3 segments of my file is below..my complete file is also attached here..please check
https://github.com/kputnam/stupidedi/files/587134/MYFILE.txt

ISA*00*          *00*          *ZZ*770431902      *ZZ*263086998      *160227*1042*^*00501*000000072*0*T*:~
GS*HC*770431902*263086998*20160227*1042*0072

[2016-11-13 03:51] kputnam commented on #100
No, the grammar for institutional claims (837I) is not included (only professional claims, 837P). If you have the documentation from X12.org you can transcribe the grammar as described in `doc/Transcribing.md` and following the other HIPAA examples that are included.

[2016-11-13 03:53] kputnam commented on #100
You might want to contact @pepito2k about collaborating, he might be working on this (see #86)

[2016-11-14 06:42] pradoshac commented on #100
Hi sir,i  contacted pepito2k and asked about the issue .He told me that i needed to fork the gem and write the parser to make it work.Unfortunately he can't share the code of the parser because it was made for his client and he wasn't given permission to share the code with the community .
So can you please describe the process of forking the gem and parser writing? including the details of files

[2016-11-15 07:13] kputnam commented on #100
Unfortunately I don't have the time to make those changes (it's not an easy effort, and 837I is one of the most complicated ones). If you have the official documentation you can follow `doc/Transcribing.md` and review the previous pull requests where people have contributed other grammars (eg, #98, #84, #60, #34, #27, etc).

There are other X12 EDI ruby libraries, but I don't have experience with

[2016-11-15 15:47] pepito2k commented on #86
PR opened for this: #101

[2016-11-15 15:49] pepito2k commented on #100
My client gave me permission to share the code for the 837i parser, check PR #101

[2016-11-16 06:26] pradoshac commented on #100
Thank you sir .it will be very helpful for me.Actually i was stuck with that .once again thank you..

[2016-11-17 14:44] irobayna opened #102 "Ruby 2.4.0 support - One spec failure"
The following spec does not pass with Ruby 2.4.0
[code]
I believe it might be due to the new changes in regard to the [hash table improvement](https://bugs.ruby-lang.org/issues/12142)

Do you think it will be safe to skip this one moving forward?

[2016-11-17 23:49] jdearl opened #103 "810 Invoice"
Hi,

Do you have any plans to add 810 support?

[2016-11-22 11:17] pradoshac opened #104 "undefined method `refine' for Stupidedi::Refinements:Module"
Hi ,
 I created a ruby on rails('rails', '4.0.0') application(jruby 1.7.12) and using stupidedi 1.2.12 for parsing my edi files. While running the project i got the following error . I can't load the stupidedi in my rails project.
Is it possible to use stupidedi in ruby on rails aplication with jruby? The stupidedi gem was successfully installed but  i can't load this into my project(require "stup

[2016-12-01 03:36] #103 closed

[2016-12-01 04:10] #104 closed

[2016-12-01 04:23] pradoshac opened #105 "Stupidedi::Exceptions::ParseError"
Iam generating an hc837 file by using stupid edi  (VERSION = "1.2.12")
evrYthing is okay but while  generating the H1 segment by composite  i got some error

error:-Stupidedi::Exceptions::ParseError iGenerate837
value ABF not allowed in element HI01-03

Below is my generator code:-
       b.HI b.composite('ABK', dxcode)
        b.HI b.composite('APR', dxcode)
        b.HI b.composite('ABF',dxcode2

[2016-12-13 03:35] #100 closed

[2016-12-13 03:47] #86 closed

[2016-12-17 05:06] kputnam commented on #105
Sorry this took a while to track down. Looking at the official specification for 837I, that segment, `OTHER DIAGNOSIS INFORMATION` is encoded correctly: [here](https://github.com/kputnam/stupidedi/blob/master/lib/stupidedi/guides/005010/X223-HC837I.rb#L420).

The error message is correct. I think what you intended to do is this:

[code]

The difference is you have constructed one large composite e

[2017-01-12 20:51] irobayna commented on #102
@kputnam Are you ok if I comment out the spec mentioned above so all specs run correctly under ruby 2.4 ?

[2017-01-18 05:02] kputnam commented on #102
Sorry I haven't looked at this yet. I'm pretty nervous about it, since it used to be very important -- that behavior might not be required anymore though. I'll look into it more closely this weekend.

[2017-02-09 15:34] irobayna commented on #102
@kputnam Any updates on this one?

[2017-02-11 03:10] sl33nyc opened #106 "Should newline "\n" be a permissible segment separator?"
I'm pretty new to the stupid world of EDI, but all the examples that I've seen appear to allow a simple newline as a segment separator.  However, [these lines](https://github.com/kputnam/stupidedi/blob/master/lib/stupidedi/writer/default.rb#L43-L44) appear to prevent that.

[2017-02-11 03:18] irobayna commented on #106
@sl33nyc I have never seen a newline as a segment separator.  I do not know if **ANSI X12 EDI** allows this or not.

Unless you have a hard requirement, I would probably just use 'regular' segment separators:

[code]

[2017-02-11 03:42] sl33nyc commented on #106
I'm not sure I can find anything definitive, but the MSDN has an [opinion](https://msdn.microsoft.com/en-us/library/bb259967(v=bts.20).aspx#Anchor_2) which appears to allow any ASCII character as a segment terminator.  However, it also says that the terminator is not validated against the X12 character set, which does not appear to include whitespace.

Some additional Google results include:
* New

[2017-02-11 06:26] alexkyllo commented on #106
I did EDI for a few years and I definitely saw \n (and \r\n) used as the segment terminator more than once. But I also never saw a trading partner file that actually passed standards validation, so that doesn't necessarily mean it's valid.

[2017-02-13 02:32] kputnam commented on #106
Yeah, my experience matches @alexkyllo in that the trading partner had more power in the relationship. They would send whatever they wanted (including invalid files) and their requirements on files being sent to them weren't negotiable.

Even though special characters might be a gray area in the standard, it probably would not be helpful to prevent users from generating or parsing files that used

[2017-02-25 22:03] n4a4 opened #107 "Stupidedi::Exceptions::ParseError: required segment SE is missing from table Table 3 - Summary"
I have a block of code that is writing a purchase order (850). I call builder::CTT to try to write the count of the orders but when the line of code is included, I always get the following error:

Stupidedi::Exceptions::ParseError: required segment SE is missing from table Table 3 - Summary

However, when I remove the CTT line it always works. Am I using this in an incorrect way?

`
  def self.ord

[2017-03-02 03:59] kputnam commented on #107
This might be a bug in stupidedi. Can you change your example to include literal values (rather than references to hash values) that I can paste to help me debug? Let me know if you need a quick workaround in the meantime, but I do want to figure this out and hopefully fix it.

[2017-03-02 17:34] connor-odoherty opened #108 "Unable to link Guide properly using register function"
I am attempting to build a custom guide and functional group to support eAPIS/EDIFACT. As I understand it, these are the only two locations I really need to build to create a new config. I see from the documentation [here](https://github.com/kputnam/stupidedi/blob/be2a448400b0442a0c2e78fc711e7528334b0362/doc/Generating.md) that I can link a specific layout to values set in the envelope. In this ca

[2017-03-03 23:04] connor-odoherty commented on #108
I've built a basic interchange, functional group, and guide for PAXLST, but I can't seem to get the config to list anything beyond ```[InstructionTable(
    1: Instruction[ISA](pop: 0, drop: 0, push: TransmissionState))]```

I define my config using:

[code]

But I can't see any rules beyond what I posted above. Would the value I'm passing 'PAXLST' make a difference?

[2017-03-05 02:48] kputnam commented on #108
Hmm, I don't know much about EDIFACT but I suspect that stupidedi won't be compatible out of the box without some surgery. The reason `GS08`, `ST03`, `GS01` and `ST01` are used is because those have special meaning in X12.

I think you're saying `BuilderDsl#successors` just shows that it's waiting for an `ISA` segment. Are you trying to read from a file or generate one? There are some examples of

[2017-03-05 02:54] kputnam commented on #108
The value you passed to `config.interchange.register` is used to wire `ISA12` to an interchange definition. So if you pass `PAXLST`, then when the parser reads an ISA segment it looks up the twelfth element in the configuration table to kind of bootstrap itself. This happens in `InterchangeState.push` in `builder/states/interchange_state.rb`

[2017-03-22 18:51] irobayna commented on #102
@kputnam  did you find time to look at this item?

[2017-03-27 14:05] ketan-fab opened #111 "Does it provide support for 810/850/864/856?"
Does this tool provide support for 810/850/864/856? If yes can I see the examples for parsing and creating those?

[2017-03-31 11:15] outsmartin commented on #50
I'm currently using the 4010 PO850 and manually adding all things that I need.
I'm working from an internal specification though.

Would it make sense to play back these changes?

[2017-03-31 11:58] outsmartin commented on #107
Having the same issue here.

[2017-04-25 13:29] awwaiid commented on #111
@ketan-fab check out https://github.com/kputnam/stupidedi/tree/master/lib/stupidedi/contrib which has some examples of these. I don't see any instructions, but looks like you can even use these off-the-shelf.

[2017-05-17 19:45] jakeonfire commented on #102
@irobayna there are more issues than that with ruby 2.4.1
 - a warning about constants being defined within a refinement scope
 - `rake` is no longer part of ruby stdlib but it's required in `stupidedi.gemspec`

[2017-05-17 22:07] irobayna commented on #102
@jakeonfire Thanks for the heads up.   I see you made a few changes to support ruby 2.4.1
Could you send a PR?

[2017-05-30 02:27] rkoloski opened #112 "X12 278 Support"
I am interested in seeing X12 278 support added to the list of supported transactions. I am willing to contribute development dollars, programming effort or some of both. If someone could respond to this note or email me I'd much appreciate.

email: rkoloski@truenorthtechnology.com

[2017-06-03 00:27] rkoloski commented on #8
We are in the process of evaluating stupidedi for a healthcare scenario, and our customer's trading partners (their customers) are either familiar with this distinction or the software provider, in order to be consistent with the spec, attempts to explain the implementation process using these concepts. So while looking at the dates on this trail would seem to indicate we're not at risk of you pul

[2017-06-09 23:47] #112 closed

[2017-06-13 19:03] blairanderson opened #113 "Stupidedi::Exceptions::ParseError: DTM segment cannot be reached from the current state"
Hi there,

your library looks pretty clean and well documented, but I cannot quite figure out how to parse through the segments.

Can you(or anyone) share a proof of concept example for parsing some file sequences?

I have a few different file types and each one is coming up with different errors.

[2017-06-13 19:32] irobayna commented on #113
@blairanderson if you look at the closed issues you may come across some ideas as to how to do this.  w/o seeing any specifics as to what message you are trying to parse, the transaction in itself etc is difficult to suggest anything.

Take a look at this old issue and see if it helps:
https://github.com/kputnam/stupidedi/issues/44

[2017-06-13 19:47] blairanderson commented on #113
thanks @irobayna! good suggestion. will follow up with some more code examples/questions.

For example: https://github.com/kputnam/stupidedi/issues/52 is a great issue for seeing how to build.

[2017-06-13 19:52] blairanderson commented on #113
here's a file https://gist.github.com/blairanderson/fad4614ee1aad005d2cad71da5d1a413

[2017-06-13 20:19] irobayna commented on #113
@blairanderson thanks for the link, are you trying to process EDI 852 right?
If so, it is not supported at the time but you are welcome to add support for it

look at some of the transaction set definitions currently supported in the 004010 group
https://github.com/kputnam/stupidedi/tree/master/lib/stupidedi/contrib/004010/transaction_set_defs

[2017-06-13 20:37] blairanderson commented on #113
@irobayna AHH yes i am and that would be a good reason why its not working.

[2017-06-13 20:39] irobayna commented on #113
closing issue as ```EDI 852``` is not supported at the moment

[2017-06-13 20:39] #113 closed

[2017-06-14 17:44] blairanderson commented on #113
hey @irobayna do you have any suggestions about where to find a contractor/consultant familiar with this library? Could not find your email on your profile...

[2017-06-14 18:15] irobayna commented on #113
@blairanderson irobayna@gmail.com

[2017-06-19 19:44] #102 closed

[2017-06-19 19:45] #51 closed

[2017-07-05 17:33] irobayna commented on #105
@pradoshac closing this item

[2017-07-05 17:33] #105 closed

[2017-07-05 17:43] irobayna commented on #111
@ketan-fab yes some are supported - 856, 850

you can see all supported transactions here:

https://github.com/kputnam/stupidedi/blob/master/lib/stupidedi/config.rb

810 and 864 are not supported but you are welcome to add support, if you like

[2017-07-05 17:43] #111 closed

[2017-08-30 22:00] hackley opened #114 "Parsing 837D Dental Claims"
Hello,

I'm using stupidedi to parse some incoming medical/dental claims, put them into a sane format, and save them to a database. It's working great for Professional and Institutional claims, but I'm running into a wall with Dental.

It looks like there's currently no guide built for dental (005010X224A2). I'm more than willing to take a stab at it, but It'd also be great if there was a quicker

[2017-08-30 22:14] kputnam commented on #114
Hi, you can try adding an entry to a config similar to the ones for 837P in `hipaa`, but you can use the generic grammar for 837 (these are called `TransactionSetDef` instead of `Guide`).

[code]

Try putting this in `bin/edi-pp` and printing an example file with `./bin/edi-pp <path-to-file>`. Since 837D hasn't been implemented, there's a chance some of the segments or elements are missing and you

[2017-08-31 19:41] hackley commented on #114
Perfect! That worked like a charm. Thanks for the help - as soon as I get some time I'm going to give defining the dental spec a try, but this is super helpful for the time being!

[2017-08-31 19:41] #114 closed

[2017-10-17 17:47] lkfken opened #117 "NoMethodError: undefined method `def_delegators' for Stupidedi::Config::FunctionalGroupConfig:Class"
try to follow your given example, and it failed on the 3rd line
[code]
NoMethodError: undefined method `def_delegators' for Stupidedi::Config::FunctionalGroupConfig:Class
                 method_missing at org/jruby/RubyBasicObject.java:1655
  <class:FunctionalGroupConfig> at C:/jruby-9.1.6.0/lib/ruby/gems/shared/bundler/gems/stupidedi-38960d75bbd2/lib/stupidedi/config/functional_group_config.rb:2

[2017-10-17 18:19] lkfken commented on #117
I try to run the same code in Ruby/Linux (not JRuby/Windows) and it's working.

[2017-10-17 21:24] kputnam commented on #117
Thanks, I wouldn't have guessed a JRuby issue. Which version of JRuby are you using?

[2017-10-17 23:04] lkfken commented on #117
jruby 9.1.6

[2017-10-18 20:56] #117 closed

[2017-12-02 12:22] ketandoshi opened #119 "Support for 810/850/864/856"
We are planning for commerce hub integration using EDI. As we are in e-commerce domain we are looking for 810/850/864/856 documents.
Do this API provides support for 810/850/864/856? or any plan for future?

[2017-12-14 21:43] jeremiahlukus opened #120 "Code Climate link in readme is broken"
goes to 404.

[2017-12-14 21:55] irobayna commented on #120
@jeremiahlukus -- Thanks, all set now

[2017-12-14 21:55] #120 closed

[2018-04-13 22:18] rdudacz opened #121 "Unable to read the time field G62"
Hello,

I am facing a problem when I have a segment with a date and time field and when attempting to read it, I get this error message:

[code]

Here's a sample of the file:
[code]

Here's the config:
[code]

What am I doing wrong and cannot successfully obtain these fields? I checked the documentation and the format of the file (and the segment) seems to be correct.

Thank you in advance.

[2018-04-14 01:58] irobayna commented on #121
@rdudacz Are you able to parse the file using ```edi-pp``` ?

[2018-04-14 08:45] rdudacz commented on #121
Hi @irobayna, thank you for your reply. When I run the file through `./bin/edi-pp datafile`, I get back a nicely formatted output (here's highlighted the problematic part from the OP):
[code]
If I run the parser through `edi-pp`, how do I fetch single values (like eg. `E337`) from the output (and then work with it further - saving it to databse)?

I think I am doing something wrong when I manually

[2018-04-14 15:31] irobayna commented on #121
@rdudacz Are you parsing the tree?

Here is some code that might help you:

[code]

In regards to the date, you should format it accordingly to your EDI guidelines.  I have a few helper methods that I use on my own code to help with the date / time parsing:

```Interchangeable.parse_edi_Date()```

[code]

[2018-04-15 12:32] rdudacz commented on #121
@irobayna thank you very much!

I am parsing a 204 file in this format:
[code]

I've been following your example above and parsed the data like this:
[code]

I've been able to pull out data from all the segments (except one - OID - I'll explain below), but when I ran the script, o beside extracting all the data, the sript also ended up with this error output: **/Users/adam/.rvm/gems/ruby-2.3.3/gem

[2018-04-15 14:12] irobayna commented on #121
@rdudacz glad to see you are making progress

You should study your EDI specs and be sure how the loops, segments are defined as some are required and others are relative, dependent, optional so as you traverse the tree you have to see what's available.  This sometimes is tricky.

To know what's available use the following:

```pp b2.successors```

This will print what you can traverse to.

In reg

[2018-04-16 15:59] rdudacz opened #122 "Unable to parse all elements from the tree"
Hello,

I have this structure (it's anonymized):
[code]

And my problem is that I cannot extract all the elements from segments. Eg. I am trying to fetch the segment `N1*SF*CITYYY*93*444333~`.

parser.first.tap do |isa|
[code]

Why it doesn't print/find the element `N1*SF`, but it only does the `N1*SH` one? (I also tried to switch the blocks, but the same result)

After a lot of trying outs and te

[2018-04-16 16:01] rdudacz commented on #121
Thank you @irobayna, the `OID` segment is a problem and I will probably need to modify the relevant part of the library.

[2018-04-16 18:47] irobayna commented on #122
@rdudacz

Rule of thumb should be,  If ```edi-pp``` is able to parse your transaction then the problem is how to code the parsing, navigation.  You did confirm this was happening correct?

I would suggest to get a copy of your specific EDI implementation guide for this transaction which will describe how to parse it.

if you look at the sample code from the previous issue, I would start off as sim

[2018-04-16 18:47] #121 closed

[2018-04-16 18:48] #108 closed

[2018-04-16 18:49] #83 closed

[2018-04-16 18:50] #87 closed

[2018-04-16 18:50] #106 closed

[2018-04-16 18:51] #119 closed

[2018-04-16 18:53] #50 closed

[2018-04-17 08:51] rdudacz commented on #122
@irobayna yes, it's valid,  I am able to parse the file with `edi-pp`.

I must be overlooking something elementary, because I am unable to parse even this super simple structure with `.iterate`:
parser.first.tap do |isa|
    isa.iterate(:GS) do |gs|  # no error
    	puts '2. GS'
        puts "#{gs.element(6).map(&:node).fetch(0)}"
 	puts '-'

        gs.iterate(:ST) do |st| # no error
        	put

[2018-04-17 09:33] kputnam commented on #122
One likely problem is 'iterate(:B2)'. I'm guessing B2 is not a repeating segment; since 'iterate' repeatedly calls 'find', the first time it does find a B2 but the next 'iteration' fails.

We could probably improve that error message by checking that the matching segment is actually repeating.

This is also shown from the successors list: from B2, there is not another reachable B2. The error happe

[2018-04-17 09:40] kputnam commented on #122
The pop, drop, and push fields indicate that reading a segment will either pop the current state (usually terminate a child subtree and go back up to the parent), drop some succesor states (usually skipping some sibling nodes), or push a new state (usually a 'child' subtree)

[2018-04-17 12:10] rdudacz commented on #122
`One likely problem is 'iterate(:B2)'. I'm guessing B2 is not a repeating segment; since 'iterate' repeatedly calls 'find', the first time it does find a B2 but the next 'iteration' fails.
`
I just tried to call `iterate(:N1)`, which occurs twice in the  204 file and getting the same error as for the `B2` segment.

Also, I was able to grab the `N1:SF` element, but it was more of a luck:
[code]

Th

[2018-04-17 22:59] kputnam commented on #122
If you haven't read this document already, it should help: http://www.rubydoc.info/github/irobayna/stupidedi/master/file/doc/Navigating.md -- you can also view it in the GitHub repo in 'doc' but for some reason the images aren't displayed. I think the diagrams will be key for helping you.

[2018-04-17 23:06] kputnam commented on #122
Also it's totally fine to traverse the tree using whatever method you like. The API is designed the way it is so that the parse tree and cursors pointing to locations in the tree are immutable: you can pass them around your code base without worrying that they will destructively update the parse tree; the other consideration is to make sure ordinary conditions like not finding an optional segment,

[2018-04-27 21:32] rdudacz opened #123 ""Stupidedi::Exceptions::ZipperError - root node has no siblings" when generating a 990 file"
I look at [this](https://github.com/irobayna/stupidedi#generating-writing) example and tried to generate a 990 file. This is the format of the file (from the documentation):
[code]

And this is how I tried to generate it from my application:
[code]

But this will result into this error:
`Stupidedi::Exceptions::ZipperError - root node has no siblings:`

How do I generate such a file? The  `ISA` seg

[2018-04-29 19:26] kputnam commented on #123
You can find examples in the `notes` directory to get you started, but you will need documentation from your trading partner about particular values to be used in the ISA and GS segments.

[2018-04-29 19:26] #123 closed

[2018-04-29 22:40] kputnam opened #124 "Unhelpful error message "Stupidedi::Exceptions::ZipperError: root node has no siblings""
It looks like there's a bug in the error-handling code when an `ISA` segment hasn't been generated yet. The problem is in [`builder/generation.rb#L36`](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/builder/generation.rb#L36). Here `zipper.append` fails when `zipper` is a `RootCursor` (i.e., the parse tree is empty). The example code in #123 will reproduce the error.

The correct

[2018-04-30 02:27] irobayna commented on #124
Don't we still need a segment on  line 36 even for ```Stupidedi::Zipper::RootCursor``` so later on ```critique``` can be called?

```FailureState.mksegment(segment_tok, state)```

which is define as:

[code]
and exception coming from here:
[code]

[2018-04-30 03:42] kputnam commented on #124
Yes, good point! That line should remain, but perhaps when the zipper is empty then zipper.replace or something is called instead. I haven't thought out exactly how it should work, but I think the code path taken to add an `ISA` segment (the constructor for InterchangeState.create?) must change the zipper in a way that doesn't use `#append`.

[2018-04-30 20:52] irobayna commented on #124
Adding this logic to Line 36 (generation.rb)
[code]

and

[code]

will get beyond the initial issue.  Good news is that we are executing ```critique``` bad news is that
 now we get this other message: ``` root node has no parent```

https://github.com/irobayna/stupidedi/blob/000400c88801adbe46bb0019c7fe042806ea1785/lib/stupidedi/builder/builder_dsl.rb#L165

[2018-05-07 21:34] tomrossi7 opened #125 "Help Parsing"
I'm sorry if this is dumb, but I'm still getting my arms wrapped around the syntax for parsing. I've gotten to the point where I can loop through and access the first element in a loop, but I can't figure out how to access the next element in the loop. So in this example, I'm able to loop through the SVC segments, but can't figure out how to access the DTM or CAS segment that are in the same 2110

[2018-05-07 21:41] irobayna commented on #125
@tomrossi7 you should only use ```.iterate``` on loops.

In order to see what is reachable from the ```clp``` segment you can call ```.successor```, but to reach other non loop segments you should call ```.find```

See sample:

![image](https://user-images.githubusercontent.com/349175/39726655-c5f78c20-521d-11e8-924b-d311d905c166.png)

[2018-05-08 15:44] tomrossi7 commented on #125
Sorry, I'm not tracking with that `find` sample. In my case it would seem like I should do a find for the CAS element within the SVC loop. Each CLP has multiple SVC loops, and each SVC loop has an SVC, DTM, and CAS segment.

[code]

[2018-05-08 16:07] tomrossi7 commented on #125
I was able to figure this out, but I'm not confident I'm doing it the right way:

                clp.iterate(:SVC) do |svc|
                  ndc = svc.element(1,2).map(&:node).fetch(0)
                  svc.find(:CAS).map do |cas|
                    adjustment = element(3).map(&:node).fetch(0)
                  end
                end

[2018-05-08 16:52] irobayna commented on #125
This line seems wrong, you are missing ```cas```

[code]

[code]

[2018-05-08 16:56] tomrossi7 commented on #125
Yeah, sorry, my working code is similar to yours. Does everything else look correct? Should I be calling `iterate` for the SVC and `find` for the CAS?

[2018-05-08 17:08] kputnam commented on #125
It might help to remember `find` always returns `Either`... either it found something or it didn't (it doesn't return `nil`). It works similarly to an array that has either zero or one elements, in that you can use `#map` to manipulate the element or do nothing if there wasn't an element. Then `#fetch(default)` is like using `Array#fetch(0, default)`.

Another tip is you can add a few lines here a

[2018-05-08 17:13] kputnam commented on #125
Oh, and also `#element` on a segment returns an Either too, since either that element was present or it wasn't (it doesn't return `nil`). That's why you have `cas.element(3).map(&:node).fetch(0)` -- it's similar code as if you had started with `cas = [<item>]` or `cas = []`.

[2018-05-08 17:14] tomrossi7 commented on #125
Thanks guys!

[2018-05-08 17:14] #125 closed

[2018-05-08 17:17] kputnam commented on #124
Hmm, that seems more complicated than I first thought, but I'll take a closer look this week. Maybe it can't be done very cleanly.

[2018-05-08 17:24] kputnam opened #126 "#Iterate could check that segment shouldn't repeat"
There's a small issue that I think enough people have encountered (probably not realizing it), that it would be helpful to beginners if it was fixed: `foo.iterate(:XYZ)` doesn't actually check that `XYZ` is a repeating segment.

If `XYZ` is not repeating (according to the grammar), then in cases where it finds `XYZ` the first time, it will throw an exception at the end of the given block when it t

[2018-05-22 00:03] lkfken opened #127 ""can't modify frozen String" while generating 834 output"
Hi,

I found errors when generating 834 output.

All these errors are caused by the "<<" operator.

For examples,
string_val.rb, Line# 265.
time_val.rb, Line# 229
element_defs.rb, Line# 101
fixnum_val.rb, Line# 242
date_val.rb, Line# 284

Since you put '# frozen_string_literal: true' on these files, then I think you should not use the "<<" operator; instead, they should be changed to "+"

Thank yo

[2018-05-27 15:43] irobayna commented on #127
@lkfken could you try generating 834 again?

[2018-05-29 18:54] #127 closed

[2018-06-14 11:17] Gauravbtc opened #128 "Not able to find segments after GS segment"
Below are the my file

ISA*00*          *00*          *ZZ*AMAZON         *11*JNS            *180613*0518*U*00400*000000003*0*T*>~
GS*PO*AMAZON*JNS*20180613*0518*3*X*004010~
ST*850*0001~
BEG*00*NE*TBYYXXVN**20180613~REF*CR*JNSBE~
DTM*064*20180613~
DTM*063*20180620~
N1*ST**92*RNO1~
PO1*1*100*EA*0.75*PE*UP*794437195018~
PO1*2*200*EA*1.6*PE*UP*672555112301~
CTT*2*300~SE*10*0001~
GE*1*3~
IEA*1*00000000

[2018-06-18 19:34] chrismv48 commented on #65
Hi, has anyone come up with a solution for this issue? The runtime for our process has ballooned to 30+ hours and we suspect this is the culprit since we are processing a very large dataset. Is the only solution to break it up via regex as suggested by @kputnam ?

[2018-06-29 15:49] xzlstc415 opened #129 "Stupidedi::Builder::StateMachine#read freeze"
while I was trying to read a 837I file using the following code:

`edi_parser = Stupidedi::Builder::StateMachine.build(config)`
`parser, result = edi_parser.read(Stupidedi::Reader.build(file))`

the process hang without throwing any exception and cannot be killed by simple Ctrl+C. After investigation, I found out the issue in the 837I that causes this issue is
`HI*>M545~`
which should be a diagnos

[2018-08-31 06:50] ppazos commented on #106
@sl33nyc segment terminator should be tilde "~".

It can be suffixed by: nothing, "\n" or, "\r\n", what is optional is the suffix for human reading. Some implementations might be more relaxed in terms of the X12 standard.

https://www.ibm.com/support/knowledgecenter/en/SS6V3G_5.3.1/com.ibm.help.gswformstutscreen.doc/GSW_EDI_Delimiters.html

https://docs.oracle.com/cd/E19398-01/820-1275/agdbj/index

[2018-09-07 19:03] samueltc opened #133 "non-deterministic machine state"
Hi @irobayna,

I tried to expand v4010/SH856 to support more segments but I end up with that error:

[code]

I created a branch if you want to reproduce:

https://github.com/samueltc/stupidedi/tree/SH856-dont-merge

Here is the spec I got from the vendor: [856 ASN version 4010_edited.pdf](https://github.com/irobayna/stupidedi/files/2362184/856.ASN.version.4010_edited.pdf)

All the best,

Sam

[2018-09-13 13:08] irobayna commented on #133
@samueltc The non-deterministic error is to be expected if the library cannot uniquely identify a particular segment.  I have not been able to look at your branch but in the meantime, is there a way to add more info to the particular segment (add more data).  More than likely the issue will go away.

[2018-09-18 19:48] phildionne commented on #133
I have the same issue with SH856. I think it's not the first time someone has an issue with this, see this issue https://github.com/irobayna/stupidedi/issues/55 for SH856 as well.

I'm getting error:

[code]

Here's the relevant code:

[code]

[code]

@irobayna any insights into wether that's to be expected or it's a bug/limitation in the parsing logic?

Thanks

[2018-09-18 22:02] timothyfstephens opened #136 "Trying to define a required segment, get missing segment error for that segment"
I'm trying to build a Purchase Order document (PO850) using 4010, and getting this error:
[code]

Code to reproduce:
[code]

[2018-09-19 01:16] irobayna commented on #136
@timothyfstephens I believe the issue has to do with the data you are passing to your segments.  What I think it's happening is that the library cannot reach the SE segment.

Perhaps you can google for a small 850 sample and give it a try.   Pretty sure this message works.

BTW, that's an interesting syntax you use.

HTH

[2018-09-19 01:41] irobayna commented on #133
@phildionne The issue you point out is not for generating a transaction bur for parsing one.  The logic is quite different.  If you read Kyles response the problem is not a limitation or a bug of the library but rather being able to uniquely identify the segments.  I have struggled with this issue as well at times.

I have used this message  v2001 which I know works.

[2018-10-02 11:48] RomanKapitonov opened #137 "Are there any reasons why x212-276 Claim Status Inquiry is not in hipaa transaction set?"
I've been looking through hipaa config https://github.com/irobayna/stupidedi/blob/465314991f82fa5ddbf9b3be78df17c3c478a343/lib/stupidedi/config.rb#L97-L119

Even though 277 response is present in the transaction set, the 276 request is missing. I've tapped the transaction set of the config instance to register a new transaction:

[code]

But that definition contains a reference to E143 field defin

[2018-10-02 16:43] RomanKapitonov commented on #137
I'm not sure how to cover the attached PR with specs, so any help/advice are much appreciated. I've been using official documentation for 005010X212 276/277 to implement this.

[2018-10-23 12:52] RomanKapitonov commented on #137
I'm closing this one since https://github.com/irobayna/stupidedi/pull/138 has been merged.

[2018-10-23 12:52] #137 closed

[2018-10-27 20:59] hackley opened #144 "837i requires CLM segment in Subscriber HL"
I'm working on a script that exports health insurance claims to EDI (both professional and institutional). The script works perfectly for professional, but when I try to export an institutional claim where the patient (`HL`) is not the same as the subscriber I get the following exception:

[code]

For professional claims, Stupidedi allows you to omit the `CLM` segment in the subscriber loop so tha

[2018-10-28 17:52] irobayna commented on #144
@hackley perhaps set `strict` to false, so the transaction would generate and then use `edi-pp` and `edi-ed` to try to see the problem.

[2018-12-03 22:36] kputnam commented on #133
Hi @phildionne, the issue is that when the parser reads the N1 segment, it doesn't know where in the document it's supposed to go. This isn't a problem in general, but with certain schemas. Notice there are two loops starting with an N1 segment in your transaction set definition.

Sometimes the next segment will constrain the set of choices (eg, maybe one loop has an XYZ segment and the other does

[2018-12-03 22:41] kputnam commented on #144
Hi @hackley, I haven't looked at the specs for years, but if you have the X12 documentation and are certain that the standard for 837i doesn't require a 2300 loop, then you can change the requirement of the first segment in that loop in the `Guide` for 837i.

However, if this is a deviation from the standard made by a trading partner, I would create a new `Guide` and use that when you're parsing o

[2018-12-03 22:54] kputnam commented on #129
Hi @xzlstc415, that is an interesting bug! If you can you post a minimal example 837I (with PII removed) that reproduces the problem, someone can look into it.

My guess is that because there are many different loops where `HI` can occur -- principle diagnosis, admitting diagnosis, reason for visit, cause for injury, and several more -- the parser constructs a parse tree for each possibility. If y

[2018-12-03 23:00] kputnam commented on #128
Hi @Gauravbtc. Take a look at doc/Navigating.md (see [rubydoc.info](https://www.rubydoc.info/github/irobayna/stupidedi/file/doc/Navigating.md) where the images are rendered).

When you write `parser.first`, the cursor is placed on the `ISA` segment. From there, you can go to `GS` but not `ST`. You can travel from `GS` to `ST` though. Think of it this way: an `ISA` has many `GS` children, and each

[2018-12-03 23:00] #128 closed

[2018-12-08 09:39] kputnam commented on #11
Closing this, it seems like much more work than it's worth. Since we now have several more X12 versions than 5010 and 4010, and because most `SegmentDef`s were already created by copy-pasting 5010, it wouldn't save any time or effort. The only remaining upside is it would potentially be less confusing for someone only familiar with 4010 and earlier who was comparing definitions with the X12 docume

[2018-12-08 09:39] #11 closed

[2018-12-08 13:37] #126 closed

[2018-12-08 13:45] #129 closed

[2018-12-08 13:58] kputnam commented on #65
While it still bug me, personally the payoff is pretty low compared to the amount of work involved, so I'm not likely to work on this. However, if someone can provide diagnostic information it might pique my (or others') interest enough to get the ball rolling.

I've added a tool in `notes/obfuscate.rb` that should help anyone that wants to submit a large example that causes this issue. This scrip

[2018-12-10 14:01] RomanKapitonov opened #150 "Decimal part for TimeVal being coerced incorrectly"
I've been parsing some 271 transaction which contained BHT segment with the following content:
[code]
This resulted into:
[code]

Seems like [this](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/versions/functional_groups/005010/element_types/time_val.rb#L293-L295) code is malfunctioning.

[code]

Which causes the error.

[2018-12-10 14:37] #150 closed

[2018-12-16 07:42] kputnam commented on #133
The schema you pasted didn't look right, so I took another look at this. I think what happened was in 048e54cb316974a3c50808fc68f06f8dc64c9c40, this transaction set definition was created from an implementation guide instead of a transaction set definition document.

**Problem:**

Skimming Google for "4010 SH 856" shows many implementation guides that more or less look like the one you pasted. In

[2018-12-16 07:42] #133 closed

[2018-12-23 05:31] kputnam commented on #133
My mistake, I didn't realize the definition you pasted was different from what's in the repo to start with. I've been working on a way to catch these errors in the specs, before they get committed to the repository. But the definition for `SH856` in the repository is actually okay.

What I said earlier is still true. But it looks like you added more `N1` and `HL` loops? Take a look at the correspo

[2018-12-24 22:46] kputnam opened #155 "Guides::FiftyTen::X223::HC837I cannot be parsed deterministically"
The parser will complain because, starting from any segment in the `2400 SERVICE LINE NUMBER` loop, reading an `NM1*DN` could either instantiate the 2420D child loop or the ancestor's older sibling, 2310F loop.

The grammar is correct and does match the documentation, so it looks like the parser will need some changes to accommodate this kind of grammar. My guess is we need to take into considerat

[2019-01-01 20:12] kputnam opened #157 "Floating segments are not supported"
In X12 versions 003060 and earlier, segments can be declared mandatory, optional, or **floating**. Floating segments can appear anywhere in the transaction set between the `ST` and `SE` segments.

This is not supported in stupidedi. There no "floating" `SegmentReq`, and there is no obvious way to add support for this. It's not clear what an `Instruction` would look like for this situation. Also, b

[2019-01-01 20:23] kputnam opened #158 "Binary elements are not supported"
The X12 standard defines element types including AN (string), ID (enum string), DT (date), TM (time), etc, and also define B (binary). Binary elements do not have a fixed length, but their length is provided in a previous element.

Because a binary element could contain an arbitrary string, it would be incorrect to read a variable number of characters until reaching an element separator (eg, `*`),

[2019-01-08 08:51] RomanKapitonov opened #160 "Any reason for DTP-RD8 being a string rather than a date range?"
I've been looking into conversion of DTP segments into date, which have a wrapper for the case of D8 type, resulting in either proper or improper DateVal. However RD8 dates are being considered a string rather than a date range.

Is there any reason or technical concern under the hood due to which DTP-RD8 are strings rather than date ranges?

Here is some context:

`DTP*472*RD8*20141114-20141210~

[2019-01-08 12:34] RomanKapitonov opened #161 "External code list usage"
ElementDefs for lots of elements contain references to external code lists. What is a proper way to utilize those links? For example:
[code]
Inspecting an AN referencing an external list just calls a `#to_s` on `CodeList::External`. I've found a note in todo with the following content:

"Support for configurable external code sources. The minimal interface should
implement #include?(code). Need to

[2019-01-08 20:31] irobayna commented on #160
@RomanKapitonov If you are parsing a transaction, both `RD8` and `D8` are parsed as strings and back into Date Vals

As you probably saw already, `RD8` is defined as:

[code]

and `D8` as:

[code]

[2019-01-08 21:37] kputnam commented on #161
Recently I was reviewing the entire code base and also noticed this. I would be very happy if someone contributed this feature! If you can wait until middle or end of next week, I will type up some notes. I think some of the structure is there already, some of it is missing (but I had thoughts about it), and the rest of it might be make-up as we go.

The important part will be letting users setup

[2019-01-09 10:33] RomanKapitonov commented on #160
Uh oh. I've missed that. `StringVal` indeed contains a `#to_date` method, which is not so easy to use. This is because using `#to_date` (accepting a format argument) implies you have to already know that some `AN` is a date which in such case seems to be an egg and chicken problem.

An obvious solution would be to add a `#date?` method to StringVal, which i don't like since it's not correct from s

[2019-01-09 15:47] kputnam commented on #160
Yes, ASC X12 defines `DTP03` as a string. I think that's because `DTP03` can actually represent many different *types* of values -- times, time ranges, dates, and date ranges. They are all encoded as strings (`AN`) in the X12.

In order to decode `DTP03` you need to give the format code in `DTP02` to `StringVal#to_date`. See [`E1250`](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi

[2019-01-10 18:38] bdelo opened #162 "uninitialized constant Stupidedi::Versions::FunctionalGroups::FiftyTen::SegmentDefs::EC"
I was attempting to create a 005010 834 transaction, but ran into the error `uninitialized constant Stupidedi::Versions::FunctionalGroups::FiftyTen::SegmentDefs::EC` coming from `005010/transaction_set_defs/BE834.rb:51` when adding the first `ST` segment to my builder. This is preventing us (and I would assume anyone) from using stupidedi to generate these types of files.

I believe the reason is

[2019-01-10 18:45] bdelo commented on #162
This commit I believe would fix the issue. https://github.com/irobayna/stupidedi/commit/54743fa37d8dbdbceefaac27cf68a4a233ae8a9c

I was going to create a pull request adding `:EC`. Is there any kind of timeline for a new release with this change included? Thanks

[2019-01-11 16:53] kputnam commented on #162
We can do a release this weekend, however if you're using `837I`, there is another issue (#155) which has a fix pending. I believe it's limited to the `NM1` segments of each loop in `2300 CLAIM INFORMATION` loop.

The fix is part of a larger update, so it might take longer to make it into a release. If you're not able to wait for that release, I will push a new branch in a couple days with the cor

[2019-01-11 17:46] bdelo commented on #162
We're not using `837I` so I'm not really concerned with the fix for that. A quick release with just the `EC` fix would be ideal for us if possible. Thanks so much!

[2019-01-11 23:01] irobayna commented on #162
@bdelo New version released which includes missing segment
Feel free to close issue

[2019-01-12 15:42] #162 closed

[2019-01-13 02:52] kputnam opened #165 "Check X12 implementations conform to X12 standard"
Because X12 standards are much easier to understand at a glance (because they omit the element-level details given in an X12 implementation), they could be a good tool to spot-check the definition of an X12 implementation.

There are X12 publications floating around that explain how to define an implementation guide for a given X12 standard. There are some rules like:

* You cannot increase the nu

[2019-01-13 04:50] kputnam commented on #160
@RomanKapitonov, I created an example in a new branch that might be of use: https://github.com/irobayna/stupidedi/blob/pr-reorganize/examples/generate.rb

[2019-01-13 05:00] kputnam commented on #144
@hackley, I believe this will be fixed when 831c7e370b3244a5a13bd75cec018487b99b4625 is merged. The problem was that the 2300 loop was marked `Required`, however that meant it was required under both `HL` subscriber and `HL` patient. It should've been `Situational`, like the 837P definition.

[2019-01-13 06:45] kputnam opened #166 "Update/review documentation and examples"
The API documentation at [rubydoc.info](https://www.rubydoc.info/github/irobayna/stupidedi/) is probably in decent shape, but I'm not sure if the YARD plugins are still working.

The human-readable documentation in `doc/` could be stale. It might be time to update it, and maybe publish it somewhere else like [readthedocs.io](https://readthedocs.org/)

Things to review:
- [ ] README.md
- [ ] exampl

[2019-01-13 07:07] kputnam opened #167 "Consider removing support for non-determinism"
The reason behind having a parser than can handle non-determinism (see [GLR parser](https://en.wikipedia.org/wiki/GLR_parser)), was that it wasn't known if X12 specifications forbid ambiguous grammars, either implicitly or explicitly, or if the issue was even considered by X12.

Even being certain that ambiguity is present was difficult because much of the parser is built from assumptions that are

[2019-01-13 07:13] kputnam commented on #155
Fortunately, my hypothesis was wrong! The issue was simply that the parentheses were incorrect. This will be fixed when 831c7e3 is merged.

[2019-01-13 08:14] kputnam opened #168 "Revisit Stupidedi::Editor"
This code hasn't been reviewed in a long time, and it currently has low test coverage. Many of the validations are useful, however I think the only place it's used is in `bin/edi-ed`. Should make sure that the API is usable and provide some example code that demonstrates what to do with the results.

[2019-01-13 08:30] kputnam opened #169 "Consider removing #parent from various Stupidedi::Schema"
Because nearly every definition has a `#parent`, simple elements that are the "leaves" of a tree are copied quite a lot. Specifically, once a `SimpleElementDef` becomes part of a `SegmentDef`, it's copied and potentially copied again when the `SegmentDef` is added to a grammar.

I'm not sure where the parents of various schema definitions are actually used, or if those uses are truly necessary. Wh

[2019-01-13 08:44] kputnam opened #170 "Fix remaining definition errors"
I don't have the documentation to figure out what the correct definitions should be. We might need to ping the people who committed these, or simply remove them. Due to these errors, these transaction sets cannot be used anyway.

- [ ] composite element C001 at MEA04 has 6 component elements but 0 were given, `FortyTen::Implementations::SM204`
- [ ] segment AK3 has 2 elements but 4 arguments were

[2019-01-14 15:22] RomanKapitonov commented on #65
Well, i've played a bit with this one. I'm not 100% sure but seems IO is a bottleneck in this case. Consider the following script (nothing special, just generates a 832 sample):
[code]

Here is a sample output from the profiler:
[code]

If we take a look at what is actually `#at` doing:
[code]

It seeks the by offset and n, and then reads a byte. Please note I'm using SSD so random IO is much fast

[2019-01-14 15:24] RomanKapitonov commented on #160
@kputnam, @irobayna thank you guys! Sorry for not responding for a while, I was on a leave. I will take a closer look at this in the next couple of days.

[2019-01-14 15:47] RomanKapitonov commented on #65
I've also compared FileIO vs StringIO which obviously gives a boost as of file vs memory:
[code]

Code profile differs as well `StringIO`:
[code]

Versus `FileIO`:
[code]

[2019-01-14 16:37] irobayna commented on #65
@RomanKapitonov Thank you! very good info

@kputnam What do you think?

[2019-01-14 17:09] kputnam commented on #65
@RomanKapitonov thanks for that! I knew reading from an IO would be slower but I haven't compared in a long time, and didn't realize it was that big of a difference. Also, thanks for the tip about stackprof... looks like that will come in handy. Sometime in the future I would like to review the tokenizer (`Reader`) because I think there is some low-hanging fruit for speed gains.

The bigger concer

[2019-01-14 18:06] RomanKapitonov commented on #65
@kputnam, @irobayna  for the case of 5000 copies of prod1 from the script i get the following results (40012 segments). The amount of used memory is pretty huge. GC is disabled, here are some observations (sizes are in bytes):
[code]

Or when grouped by file location:
[code]

The top one consumer seems to be: https://github.com/irobayna/stupidedi/blob/f3ca1a27b6cc5e25038086c18374076a40a4fbdd/lib/r

[2019-01-14 18:18] irobayna commented on #65
@RomanKapitonov Thanks Roman, a mountain of very valuable data to look at.  Definitely room for improvement.

[2019-01-15 15:05] RomanKapitonov commented on #65
@irobayna @kputnam I've had a little time today to take a closer look at this. I've eventually evaluated the following result. Based on the observation from memory profiler, i've tried switching from "immutability first" concept to mutating the objects in one case.

I've switched to the following definition for `Object#cons`:
[code]

Consider the following output from two test runs. Original `Obje

[2019-01-15 15:26] irobayna commented on #65
I thought `unshift` was supposed to be way faster (at least on ruby 2.2)

![image](https://user-images.githubusercontent.com/349175/51190194-ac442000-18af-11e9-994e-5c6982a01c86.png)

Source: https://github.com/JuanitoFatas/fast-ruby

[2019-01-15 16:21] kputnam commented on #65
Hey @RomanKapitonov, thanks so much. This is really helpful! I will start poking at this next week, once I've finished some other things I have started (#164). Don't spend too much time working out how to optimize the tokenizer (FileInput), because i have some plans to rework that stuff soon.

[2019-01-16 02:08] kputnam opened #172 "Do tables repeat?"
Most X12 transaction set definitions have three tables: a header table, a detail table, and a summary table. The header and summary tables usually begin with a non-repeatable segment (eg, `ST` and `SE`); it seems clear that the tables must only occur once. In HP835, the summary table begins with an optional, repeatable `PLB` segment; however, it still doesn't make sense for the table to be repeate

[2019-01-16 15:32] irobayna commented on #172
This item will make the library even better, a step in the right direction. Nothing wrong with having clear guidelines hence `repatable_detail` and `non-repeatable` concept for tables makes sense to me.

[2019-01-16 19:09] kputnam commented on #65
@RomanKapitonov, can you paste the code you used to generate this output formatting?:

[code]

[2019-01-17 20:43] kputnam opened #173 "HB271 is not determistic"
The HB271 standard contains one `NM1` loop (Loop 2120) nested within another (Loop 2100). When the parser encounters an `NM1` segment, it cannot decide whether to instantiate a new Loop 2120, or a whole new Loop 2100. The X279 and X279A1 implementations eliminate this ambiguity by using separate qualifiers, so the parser can figure out which loop is intended from the value in `NM01`.

Looking into

[2019-01-18 08:35] kputnam commented on #65
Looks like we'll be changing the implementation of `Object#cons` and `Object#snoc`. Before pushing these changes, I'm going to wait until other bigger changes have been released. Then I'll try to write a larger benchmark suite that will hopefully catch any performance regressions in the library over time.

But in the meantime, here is some benchmark data comparing 4 implementations of `cons` and 3

[2019-01-18 08:38] kputnam commented on #65
Also, note the bottom line of each file shows a huge increase in memory consumption on ruby 2.4... I'm not sure if that's a general issue, or something specific to my benchmark? I'm guessing it's changes internal to the ruby VM.

[code]

[2019-01-18 10:32] RomanKapitonov commented on #65
@kputnam Do you still need code sample for getting my output? I assume not since you've crafted a nice benchmark covering more cases. But let me know just in case.

[2019-01-21 11:24] RomanKapitonov opened #174 "Semantics behind versioning of EDI transactions for Institutional Claims"
I'm currently into institutional claims which is basically an 837I. The question I have is related to the consolidated documents listed in the implementation guide for Health Care Claim: Institutional (837). The document I'm using is dated June 2014, which also lists the following consolidated documents:

Consolidated Documents:
May 2006 005010X223
October 2007 005010X223A1
June 2010 005010X223A2

[2019-01-21 12:08] irobayna commented on #174
@RomanKapitonov I'm not 100% sure but It seems only `005010X223`
`x.register("005010X223",   "HC", "837") { Stupidedi::Guides::FiftyTen::X223::HC837I }`

If other versions had been defined I would expect would follow a similar pattern to the professional one (837P) where you will see two different ones have been defined (regular one and A1):

[code]

[2019-01-21 15:30] pepito2k commented on #174
Hi,

The implementation on the gem responds to the implementation guide dated
MAY 2006, so it is 005010X223.

Bests,
Gonzalo.

On Mon, Jan 21, 2019 at 9:08 AM Isi Robayna <notifications@github.com>
wrote:

[2019-01-21 16:42] RomanKapitonov commented on #174
@kputnam I do have A3 version, i've spent an entire day today comparing it to what is present for X223, yet I'm only half way though. I've found several differences and will come up with a PR in a couple of days.

Unfortunately I do not possess the version for X223A1 and X223A2. At least i've never seen any "change log" inside those docs for the EDI transactions. If you know any source for the cha

[2019-01-21 16:46] kputnam commented on #174
@RomanKapitonov Oh, thanks! The documentation that I have for X222 did have separate files, one for X222 and another "changes only" for X222A1. But those were several years ago, when 5010 was being rolled out, so it might be that X12 have consolidated the amendments of each transaction set into a single document. There also is a section "D. Change Summary" at the very end, but I think they are cha

[2019-01-21 16:54] RomanKapitonov commented on #174
@kputnam thank you, the doc indeed contains a summary section. As per what it says:

**This Implementation Guide defines X12N implementation 005010X223A2 of the Health Care Claim: Institutional. It is based on version/release/subrelease 005010 of the ASC X12 standards. The previous X12N implementation of the Health Care Claim: Institutional was 004050X141, based on version/re- lease/subrelease 004

[2019-01-21 17:03] kputnam commented on #174
Take your time, it is very tedious and painstaking work! The changes between X222 and X222A1 were very small, and I think changed the requirement designator for a few segments and elements, and added one segment.

[2019-01-21 17:05] i-s-o commented on #174
I also did some work on 005010X223A3 yesterday (some corrections to the descriptions etc.). My main motivation was to create 005010X225A2 based on X223. Not sure what the best way is to share the results (I'm new to git, and I'm not a developer).

One thing I noticed is the loop 2300 required v. situational change that was done recently, and I didn't touch it: there is a discussion in the guides a

[2019-01-21 17:12] kputnam commented on #174
@i-s-o, Yes it was made situational because that loop isn't required to occur under both 2000B and 2000C. There's no way in the grammar to encode the requirement that it should occur in at least once, which is what I think X12 intended, so the best option is to make it situational.

Later down the road, those extra constraints (along with the various semantic constraints from the documentation) co

[2019-01-21 21:37] i-s-o commented on #174
@RomanKapitonov  If it is helpful in any way, I pushed my changes to [x223a3-hc837.rb](https://github.com/i-s-o/stupidedi/blob/add-x223A3/lib/stupidedi/transaction_sets/005010/implementations/X223A3-HC837.rb).

FYI, it looks like the modifications from X223A2 to X223A3 were done to accommodate dual-use of the original payer identification and CMS's then recently finalized rule requiring (but not e

[2019-01-22 06:29] kputnam opened #175 "Fix disabled transaction sets"
In #164, I have disabled several transaction sets that were once in `Contrib::*::Guides`, because they would cause an exception when `require`d. These are:

* [ ] Contrib::TwoThousandOne::Guides::FA997
* [ ] Contrib::ThirtyForty::Guides::WA142
* [ ] Contrib::ThirtyTen::Guides::PO850
* [ ] Contrib::ThirtyTen::Guides::PC860
* [ ] Contrib::ThirtyTen::Guides::PS830
* [ ] Contrib::FortyTen::Guides::AR9

[2019-01-22 07:12] kputnam opened #176 "Git repository is large"
I think the repository size is growing due to storing gem files. Even though we only keep one in `master` at a time, they are never purged because they have commits in `master` pointing to them.

[code]

Shows this output (order has been changed so largest files are on top):

[code]

I don't think these can be removed from the history without rewriting every commit, which means other people's fork

[2019-01-22 11:05] irobayna commented on #176
@kputnam Makes sense, when a new version is release, I will remove latest `.gem` file and will not commit new ones moving forward.

[2019-01-22 11:09] RomanKapitonov commented on #174
@i-s-o please refer to the https://github.com/irobayna/stupidedi/pull/177 PR.  If you take a look at https://github.com/irobayna/stupidedi/blob/1d216f755657660a12d761a70dad8c9e1e4cbff7/lib/stupidedi/guides/005010/X223A3-HC837I.rb you'll find what is different compared to your implementation on lines: 192, 194, 195, 196, 1475, 1688, 1711, 1734, 1757, 1925, 2014, 2057, 2058, 2059, 2060, 2536, 2582

[2019-01-22 19:02] i-s-o commented on #174
@RomanKapitonov Thanks for the corrections (I didn't catch many of those errors as they are not used in X225).

I think there are still a few discrepancies: could you please double-check the following?

- The nesting of the last two provider loops under Loop 2320 OTHER SUBSCRIBER INFORMATION: if I'm not mistaken, the way the parentheses are placed keeps Loops 2330A-2330G under 2320 but leaves out

[2019-01-22 22:18] kputnam commented on #155
I'm not sure about X223A3, but the change I made to plain old X223 was correct, I believe. You can double-check your parentheses by doing this:

[code]

Prior to 831c7e3, the output for `Stupidedi::Guides::FiftyTen::X223::HC837`, the relevant portion of the output was:

[code]

Notice the 2320I and 2320H loops are at the wrong depth

[2019-01-22 22:19] #176 closed

[2019-01-23 11:40] irobayna commented on #174
@kputnam I wish I would have known about that awesome command years ago.  Very useful.

[2019-01-23 11:40] #174 closed

[2019-01-25 07:10] kputnam commented on #170
This is now being tracked at #175... I should have realized before opening that one!

[2019-01-25 07:10] #170 closed

[2019-02-19 14:49] Annihilous opened #180 "Support for IN810 Functional Group"
Several users have requested support for Functional Group 810:

2016 https://github.com/irobayna/stupidedi/issues/103
2017 https://github.com/irobayna/stupidedi/issues/111
2018 https://github.com/irobayna/stupidedi/issues/119

I can't find any documentation for extending support to another functional group, but this commit may encompass what's needed:

https://github.com/irobayna/stupidedi/commit/

[2019-02-19 15:16] kputnam commented on #180
Hi @Annihilous, your PR is welcome! You will have to wait until #164 is merged (likely soon), and then bring your branch up to date, before it can be merged. Please make sure to include some example files.

Once #164 is merged, you can put them in [`spec/fixtures`](https://github.com/irobayna/stupidedi/tree/pr-reorganize/spec/fixtures) and specs will be generated at runtime. You can add more specs

[2019-02-19 15:26] Annihilous commented on #180
@kputnam thanks!

Does the commit I reference in the OP contain everything necessary to extend the gem to a new Functional Group?

cc: @irobayna

[2019-02-19 15:39] kputnam commented on #180
Regarding how to create new transaction sets, the commit you referenced is a good example, but here's some more notes. Usually this is what's needed:

1. An implementation `TransactionSetDef` in [`implementations.rb`](https://github.com/irobayna/stupidedi/blob/pr-reorganize/lib/stupidedi/transaction_sets/005010/implementations.rb)
2. A standard version of that `TransactionSetDef` if it's available

[2019-02-19 16:03] kputnam opened #181 "Add fixtures (example files) for each transaction set"
These transaction sets don't yet have any fixtures, so there aren't any automated tests to ensure their definitions can parse actual files. Even though these might be correct and working fine now, adding fixtures will help prevent any inadvertent regressions when changes are made to other parts of the library.

It is fairly straightforward to add fixtures, just look in `spec/fixtures` for examples

[2019-02-19 16:05] kputnam commented on #181
Note some of the 005010 implementations (eg, X221, X222) are deprecated and newer versions (eg X221A1) do have fixtures. It would still be useful to add these fixtures to ensure the new grammar is backward compatible and can parse older versions.

[2019-03-09 00:24] coenwulf opened #182 "Incompatibility with factory_bot gem"
If my rails project includes both `stupidedi` and `factory_bot` then rails console and rspec don't work correctly.
Trying to run a rails console leads to:
[code]

Trying to run rspec leads to:
[code]
Removing either gem stops the error. Any idea why these two gems are incompatible?

[2019-03-09 00:46] kputnam commented on #182
Hmm, which version of stupidedi are you using? Long ago, stupidedi used monkey-patching to implement `#blank?` and that caused lots of havoc.

[2019-03-09 00:46] kputnam commented on #182
Also, to be clear, you only have a problem when including all **three** gems?

[2019-03-09 00:54] kputnam commented on #182
Sorry for the rapid-fire messages, but I wonder if whatever object you're proxying `#respond_to?(:blank)` or `#respond_to?(:present?)` but they can't be called/removed by factory bot because they aren't in scope somehow.

I don't think we override `#respond_to?`, `Class#methods` or `#instance_methods` anywhere. Can you tell me what object is being passed to factory bot's definition proxy, and have

[2019-03-11 14:08] Annihilous commented on #180
I ended up writing my own parser for invoice support, but here's the stupidedi PR if anyone want's to pick up the work: https://github.com/irobayna/stupidedi/pull/179/files

Closing this issue.

[2019-03-11 14:08] #180 closed

[2019-03-11 17:15] coenwulf commented on #182
Thanks for the responses:
It looks like the version of stupidedi that's getting installed is 1.3.23.
I hadn't tried without rspec before, but removing rspec, when I have both stupidedi and factory_bot doesn't seem to help. It still fails to start a console.
Since this is a rails project I haven't tried removing all of the rails related gems.
I haven't written any stupidedi related code yet. I enco

[2019-03-11 17:24] coenwulf commented on #182
Hmm, this is interesting. In the stupidedi code that's installed I found code defining `blank?` and `present?` in `lib/ruby/array.rb`, `lib/ruby/blank.rb`, `lib/ruby/jruby_hack.rb`, and just `blank?` in several more.
Is 1.3.23 an old version that I shouldn't be using?

[2019-03-11 18:32] kputnam commented on #182
Those definitions for `#blank?` are inside a `refine <class> ... end` block, so they're only brought into scope when you write `using Stupidedi::Refinements`. But there could still be something strange going on there... I would look at the factory-bot files from the stack trace to see why it's trying to remove `#blank?` and `#present?`. Stupidedi's definitions for those methods shouldn't be visibl

[2019-03-11 19:26] coenwulf commented on #182
Thank you. No, I'm not using JRuby. It's ruby 2.3.1. (I also accidentally tested it on ruby 2.5.0.)
Yeah, I can confirm that it's definitely version 1.3.23 based on what `lib/stupidedi/version.rb` contains.

Looking in factory_bot, it looks like it's trying to undefine all instance methods and private method except for a short list of white-listed methods. The relevant code is:
[code]
It's that `u

[2019-03-11 19:31] coenwulf commented on #182
Interestingly, if I comment out the various definitions for `#blank?`, `#present?`, and `#try` in the refinements classes it at least starts the console.

[2019-03-11 19:39] kputnam commented on #182
Hmm, to be clear, are you calling factory-bot in your specs or tests to proxy something defined by stupidedi? Or that's just happening in your blank project, without even writing tests?

One thing I noticed is in IRB, not in any particular project, that `"".respond_to?(:blank?)` is false until I `require "stupidedi"`; then it returns true. That's not expected... so I think it could be a bug in stu

[2019-03-11 19:49] kputnam commented on #182
Ok, it seems to be caused by loading `term-ansicolor`. If I uninstall that gem, then `blank?` isn't defined on `String` or `Array`. Do you still get the error with factory-bot if you `gem uninstall term-ansicolor`?

[2019-03-11 20:51] coenwulf commented on #182
No, I don't have any tests/specs related to or referencing stupidedi yet. The problems happen even in my blank project. Note that I can cause the problem to not happen on console startup if I remove factory_bot from my development environment and just have it in test. However, when I do that I still have the issue I reported related to starting specs (again, despite not having any specs related to

[2019-03-21 18:57] kputnam commented on #161
Hey @RomanKapitonov, sorry this was neglected while working on a larger PR. This was in the back of my mind while working on #164, and here are my thoughts so far:

There are a few parts involved. First is defining some kind of interface for the code list that allows checking for membership. Second is letting users plug their instances in, kind of like how they can plug in their own grammars. Last

[2019-03-27 20:30] #155 closed

[2019-03-27 22:49] coenwulf commented on #182
I was able to get past this by forking stupidedi and removing `require "ruby/blank"` and `require "ruby/try"` from `lib/stupidedi.rb`. Hopefully that's the only roadblock.

[2019-04-03 22:14] dobrynin commented on #65
Hello, I've ran into a performance issue with stupidedi. I'm not sure if it relates to what has been previously discussed here. For now we I'll likely pursue splitting the file prior to parsing, but I am confused about what is causing the slowness.

I've got a file with 841 PO850s (purchase orders). The file has around 90,000 lines, and I find that if I remove the last ~10,000, then stupidedi is a

[2019-04-04 18:06] kputnam commented on #65
@dobrynin thanks for reporting! I suspect it's a huge garbage collection taking place, and I'm betting most performance issues with stupidedi are caused by excessive memory consumption that causes long garbage collections.

You could get a better sense if this is happening by monitoring the memory usage with some kind of process monitor, and watching the consumption increase until a long pause wit

[2019-04-04 18:48] dobrynin commented on #65
@kputnam thanks for the quick response. I can get you those things but I've got a couple other things on my plate today, I'll try to get to it soon.

One quick comment about the file size. I am somewhat skeptical that the file size itself is responsible as we've had successful runs with files that are substantially larger than the one that is causing problems (I think the problematic one is ~1 MB

[2019-04-04 21:00] kputnam commented on #182
I tried to reproduce this by creating a new project (`rails new bug-182`) and running `rails console` using these dependencies:

- factory_bot 5.0.2
- stupideid 1.4.0
- rails 5.2.3
- ruby 2.5.3

I didn't have any problem, but maybe I'm missing something? I also tried using factor_bot 4.8.2 and stupidedi 1.3.23, no issue either. I wasn't able to get ruby 2.3.1 working, because of OpenSSL issues on

[2019-04-04 23:58] coenwulf commented on #182
Maybe there's also an issue with ruby 2.3.1. I tried to reproduce it with ruby 2.5.3, and couldn't. However, when I followed the same steps on ruby 2.3.1 it does reproduce the issue.

Here are my steps:
[code]

[2019-04-17 20:44] rndnoise commented on #182
Ok, I happened to remember having a Raspberry Pi around and was able to install ruby 2.3 on it via rvm. Everything seemed to work as expected, but I was using ruby 2.3.8; so I'll give it another shot later today with ruby 2.3.1.

[2019-04-17 20:45] kputnam commented on #182
Ok, I happened to remember having a Raspberry Pi around and was able to install ruby 2.3 on it via rvm. Everything seemed to work as expected, but I was using ruby 2.3.8; so I'll give it another shot later today with ruby 2.3.1.

[2019-04-17 21:03] coenwulf commented on #182
I think I have a high enough confidence that it's related to the ruby version, since I can't even replicate it on the same laptop when running the newer ruby version. If you want to dig further for your own satisfaction, that's fine. But I will just use a workaround of a fork of the gem without the try and blank refinements. I'm recommending internally that our project upgrades to a newer ruby ver

[2019-04-17 21:06] kputnam commented on #182
OK, I'll leave it alone and close the issue then. Thanks for helping me look into this!

[2019-04-17 21:06] #182 closed

[2019-04-27 19:21] natec425 opened #184 "Small refactor question Schema::CodeList::Internal#code_lists"
Hi!

I was reviewing this code, and I'm curious if a few of these code snippets were equivalent.

https://github.com/irobayna/stupidedi/blob/742ea06da02b49f4151481f3eeb1799fd2a20fa7/lib/stupidedi/schema/code_list.rb#L39-L51

inlining computed `related`:

[code]

Removing the use of `Sets.universal`:

[code]

Looking through the codebase, it seems like the default argument of `Sets.universal` is on

[2019-04-27 19:57] natec425 opened #185 "Schema::ComponentElementUse#id seems to be missing"
Hey!

it seems like `Schema::ComponentElementUse#id` is missing. If I understand correctly, it `ComponentElementUse` is a concrete class derived from `AbstractElementUse` < `AbstractUse` (which defines `id` as abstract).

Am I understanding thing correctly, or am I missing something?

Thanks so much for your time!

[2019-04-27 20:07] kputnam commented on #185
Hi Nate, I won't have time right now to check into it, but you are probably correct. I never got around to finding a way to enforce (at definition time or in a spec) the rule that abstract methods should be implemented.

But I do have just enough time to say thanks for taking a look, it is appreciated! It's good to have someone review now and again -- some of the code is nearly a decade old, so it

[2019-04-30 00:52] natec425 commented on #185
Another similar note: `Schema::SegmentDef#required?`

I'm guessing this one would delegate to `@requirement`?

[2019-05-05 03:14] natec425 opened #186 "Should this be IdentifierVal instead of StringVal?"
https://github.com/irobayna/stupidedi/blob/742ea06da02b49f4151481f3eeb1799fd2a20fa7/lib/stupidedi/versions/common/element_types/id.rb#L162-L164

It looks like this might be an overlooked copy-paste. Does it look like that to y'all?

[2019-05-05 06:15] kputnam commented on #186
Yep that’s wrong! I rarely copy paste but I tend to zen-out when writing repetitive  code. I’ll accept a PR if you make one!

[2019-05-06 13:42] #186 closed

[2019-05-08 23:00] coenwulf opened #189 "File with component element separator (ISA16) of 0x1d is unparsable"
I have received some x12 214 files that have a value of \u001d (character 29) in position 105 of the file (which is the value for ISA16, the component element separator). When I try to parse those files using stupidedi it gets a fatal error that seems to indicate that it's skipping that character. It get the S and the field separator (\u001e) instead of GS as the segment identifier and doesn't lik

[2019-05-09 19:10] kputnam commented on #189
It [looks like](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/reader/stream_reader.rb#L84) whatever *non-control* character immediately follows the separator after ISA15 is read to be ISA16. But `0x1d` is a control character, so it's skipped over and the next character is assumed to be the value.

[code]

It might be possible to accommodate having a control character as a compone

[2019-05-09 20:05] coenwulf commented on #189
Thank you. I think you're right about what's happening.
Here's a gist with a sample (with data stripped out): https://gist.github.com/coenwulf/52ba3f340bff663e949505d911d13615

[2019-05-13 14:44] natec425 opened #190 "Missing `or` in Values::RepeatedElementVal#eq"
https://github.com/irobayna/stupidedi/blob/61f542797626a87e0c0154dade632b4dcf5c36d6/lib/stupidedi/values/repeated_element_val.rb#L88-L92

Hi hi,

Is this method missing an `or` after the `eql?(other)` call?

[2019-05-13 19:50] jasonjho opened #191 "Adding new transaction sets and segments"
Hi,

New to this, so forgive me if I missed something in the docs. I'm attempting to add a new set of segments and elements to version 4010 to define QO/315 (Container Shipment Status).

To do so, I've added a standard and implementation file under /004010. It also seems necessary to add any missing Data Elements to https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/versions/004010/el

[2019-05-13 20:53] kputnam commented on #191
Yep, each segment needs to be explicitly defined. See [this example of a segment definition](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/versions/004010/segment_defs/CLP.rb). Those refer to element definitions, which you've defined as needed. Each ElementDef is kind of a "global" definition that includes data type, min and max lengths, and sometimes the set of allowed values. T

[2019-05-13 20:58] kputnam commented on #191
One thing I forgot to mention is that probably none of us have the complete definitions of all ElementDefs. Most people have access to a small subset of all X12 specifications, so one person might define an element like E66 with the info they have, then another person has another specification that has a few more "allowed values" and adds to the big list, and another person does the same.

You onl

[2019-05-13 20:59] kputnam commented on #190
Yes it's missing. Good catch!

[2019-05-14 03:32] jasonjho commented on #191
Thanks for the context @kputnam. Makes a lot more sense now. One last question I have is -- is it possible to define or add new ElementDefs without actually adding it to the "big list"? Maybe to keep it scoped within a specific SegmentDef or supplied through some sort of "ext" (extension) file? Or is this not the recommended path?

Thanks again!

[2019-05-14 03:49] jasonjho commented on #191
On a somewhat related note, the spec I have been given references a standard N9 segment which contains a reference to the `:E128` ElementDef, but specifies a CodeList value `OP` as Original Port, which conflicts with an existing `OP` (https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/versions/004010/element_defs.rb#L1289) value mapped to Original Purchase Order.  I see a similar conf

[2019-05-21 16:03] natec425 opened #193 "Question: Is unambiguous by construction generation possible?"
Hi hi!

I'm trying to grok all the machinery behind building up a document so that it can be written out. It seems like there is a work being done to make sure that the AST is unambiguous. I can definitely understand why an ambiguous AST might be possible during reading, but is it possible that stupidedi could expose an API where you could directly construct an unambiguous AST?

Does this sound re

[2019-05-21 20:27] kputnam commented on #193
I don't think that's a useful API to have, but maybe you can tell me what the use case is? The syntax tree is more or less intermediate data structure for something getting written to a file, or for reading from a file.

Without a grammar attached to the syntax tree, there isn't a useful way to address the particular data you want to read. You *could* use the Reader to tokenize things into `Segmen

[2019-05-21 20:43] kputnam commented on #191
I wouldn't recommend doing that, but if you want to keep your grammar separate (and not contribute it back to the project), you can really put your definitions in any namespace you like.

The only catch is there is a thing called [`SegmentDict`](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/reader/segment_dict.rb) which maps the alphanumeric string for the segment, like "REF", to

[2019-05-21 21:06] kputnam commented on #193
Oh one thing I forgot to say, is that there is some future work planned to strip out all the ambiguous grammar support: https://github.com/irobayna/stupidedi/issues/167. But I'm not sure if that was what you meant. Currently, using BuilderDsl guarantees the syntax tree is non-ambiguous / deterministic.

There are also recent automated tests that ensure all the grammars shipped with stupidedi are n

[2019-05-28 18:46] austinmbrown opened #194 "NoMethodError: method Stupidedi::Schema::CompositeElementUse.descriptor is abstract"
I'm trying to generate an 837 ("005010X222A1") transaction and getting this NoMethodError:
[code]

The line of my code that's throwing the error is the SV1 in the 2400 loop:
[code]

I'm not clear on what's wrong here. My usage of the composite element looks the same to me as in other places that don't throw an error, and the contents of the composite element don't seem to have an effect (ie `b.com

[2019-05-28 20:08] kputnam commented on #194
I think it's a bug in stupidedi where it's trying to report an error, so I guess it's both! I'm working on reproducing it and should have a fix shortly.

In the meantime, you could implement CompositeElementUse#descriptor to return the string "foo". That method is used to report where a validation error occurred, but you already know it's in SV1-01.

Maybe the error message you'll get back will gi

[2019-05-28 20:35] kputnam commented on #194
I think the problem is SV1-01 is required to be present, and it's a composite element.

There's an annoying problem here when a composite element is missing but required, there's no location or position to report. Nnormally the position of the composite element is just reported as the position of the first component... but there are none because it's missing.

Until somewhat recently a lot of thes

[2019-05-28 20:59] austinmbrown commented on #194
But SV1-07 *is* present?

When I added CompositeElementUse#descriptor, I got:
[code]

[2019-05-28 21:03] austinmbrown commented on #194
Yeah, just saw that I read that wrong. Thanks for all your help!

[2019-05-28 22:35] kputnam commented on #194
@austinmbrown I just pushed a fix to `master`. If you have time, could you check and let me know if your example at the top of the issue now reports "required element SV107 BLAH BLAH is missing"? If so, I'll close this issue.

[2019-05-28 22:51] kputnam commented on #189
@coenwulf, Thanks that helped! Sorry it took a while to get back to you. I think I've got a working fix, but I'm hoping you can provide another example that I can use as a fixture. The file you gave is missing some required segments (it failed because `B10` is missing, but I'm sure there are others).

I pushed a branch called `gh-189` with the failing fixture. Could you check out that branch and r

[2019-05-29 14:09] austinmbrown commented on #194
Success!

[code]

Thanks so much!
🙌 🏅 🍕

[2019-05-29 19:50] kputnam commented on #184
Yes I believe that's correct. Sorry I typed up an answer a while back and must have closed the tab without posting it. But on a quick scan, I don't think `code_lists` is ever used for any purpose within stupidedi itself.

I think the intent was to have a way to compare the result to the appendix found in 5010 healthcare implementation guides. For instance, it would show your transaction doesn't re

[2019-05-29 19:59] kputnam commented on #185
Hmm, actually I don't think SegmentDef has a `@requirement`, because that information only is known when a `SegmentUse` is created. Maybe this method could throw a more descriptive error message, rather than "required? is abstract" -- like "NoMethodDef: SegmentDef doesn't have requirement inforation".

But skimming the code, I think it's rare (or doesn't happen at all) that `required?` or `optiona

[2019-05-31 00:24] #194 closed

[2019-05-31 00:25] #185 closed

[2019-05-31 00:25] #190 closed

[2019-05-31 00:29] kputnam commented on #191
Closing due to inactivity. Feel free to continue discussion here if you have more questions.

[2019-05-31 00:29] #191 closed

[2019-05-31 00:30] kputnam commented on #184
Closing this as I think the question is addressed, but feel free to continue the discussion here if you have further questions!

[2019-05-31 00:30] #184 closed

[2019-05-31 00:30] kputnam commented on #184
Closing this as I think the question is addressed, but feel free to continue the discussion here if you have further questions!

[2019-05-31 00:36] kputnam commented on #189
Also, you can use `bin/edi-obfuscate` to strip out any meaningful information from your file, like strings, dates, times, numbers, etc. The only thing that should remain are segment names and qualifier element values (ID).

[2019-05-31 00:42] kputnam commented on #144
Closing this issue as the fix has been released.

[2019-05-31 00:42] #144 closed

[2019-05-31 00:51] kputnam commented on #136
@timothyfstephens, did you ever get this solved? When I look at the summary table [here](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/transaction_sets/004010/implementations/PO850.rb#L97), the CTT loop only contains one segment: CTT.

So there could be a bug in stupidedi somehow mishandling a summary table that starts with a loop. But it might be easily worked around by replacin

[2019-05-31 00:53] kputnam commented on #136
FWIW, your example code seems to work without any errors. There were some changes made a while back that corrected some errors in several transaction grammars and I suspect that was the issue. Closing, but feel free to continue the discussion here.

[2019-05-31 00:53] #136 closed

[2019-05-31 07:55] coenwulf commented on #189
Thanks. I'll work on using that to create a sample. Probably next week

On Thu, May 30, 2019, 17:36 kputnam <notifications@github.com> wrote:

[2019-06-01 18:05] kputnam commented on #160
Closing due to inactivity. Feel free to comment here if you have more questions.

[2019-06-01 18:05] #160 closed

[2019-06-04 11:40] RomanKapitonov opened #195 "Enable the ability to automatically calculate the number of transactions, groups and segments in enclosing segments."
I've been recently wondering whether there is a way to force stupidedi builder to deduce the number of transactions, groups, and segments in enclosing IEA, GE and SE segments.

After some investigation, it looks like this feature is implicitly included in the library. As an example of what I mean here are the implementation details for the SE segment:

https://github.com/irobayna/stupidedi/blob/cc

[2019-06-04 14:33] RomanKapitonov commented on #195
Oh my. Nevermind. I've been looking at the old version. examples/generate.rb contains what's described in the OP.

[2019-06-04 14:33] #195 closed

[2019-06-05 14:02] austinmbrown opened #196 ""segment ISA~ does not occur" error even though I see the ISA segment"
I get X12 strings back from an API, so here's a sample 271 with fake data:
[code]
Then I can do:
[code]
I get an error, so then of course:
[code]

But the errors confuse me because of the following:
[code]

So, what's the story? Is this related to https://github.com/irobayna/stupidedi/issues/173 ?

I'd like to be able to do something like `parser.find(:GS, :GS01)` but I keep being told those segme

[2019-06-05 14:25] austinmbrown commented on #196
I think I see my mistake on the `.find` question, that second argument is not an element id, it's a value for identifying the segment. Looks like I can find other elements as I move around the tree. Thanks for your patience, X12 and this gem are... a lot. :D

I am still curious about that parsing error, but I don't have an immediate need to `.find` the ISA.

[2019-06-07 21:02] coenwulf commented on #189
It looks like the obfuscator is currently treats dates as numbers so ends
up with 00000000 in cases when it should have 20151230. I didn't dig into
it, just manually fixed my file.
As you suspected, I can't push to your repo.
Here's a gist:
https://gist.github.com/coenwulf/30389d15f91fbdfe22d4bec1d7cd5d14
-Jeremy

On Thu, May 30, 2019 at 7:21 PM Jeremy Fujimoto-Johnson <coenwulf@gmail.com>
wrote:

[2019-07-27 18:43] kputnam opened #202 "JRuby support"
This issue will be used to track the status of JRuby support. Currently JRuby (9.2) doesn't work with stupidedi.

* [ ] https://github.com/jruby/jruby/issues/4687 Doesn't support refining a Module. This [feature](https://bugs.ruby-lang.org/issues/12534) has been missing since 2017. Stupidedi uses this in [lib/ruby/module.rb](https://github.com/irobayna/stupidedi/blob/dad95ab7bef001c16e995eaeabd2a6

[2019-07-27 22:12] kputnam opened #203 "Rubinius support"
This issue documents the status of Rubinius support.

* [ ] Rubinius lacks support for refinements: https://github.com/rubinius/rubinius#the-ruby-programming-language (also https://github.com/rubinius/rubinius/issues/3715). These are used in stupidedi in [`lib/ruby`](https://github.com/irobayna/stupidedi/tree/master/lib/ruby)

[2019-08-01 15:04] rdudacz opened #204 "How do I count the number of occurrence of a selected segment?"
I'd like to count how many times does occur the element **L11** in the provided document.

How do I do that? Is there a built-in method for it?

Thanks
[code]

[2019-08-23 20:36] alex-hedrevich commented on #182
I have exactly the same problem.

After removing from `lib/stupidedi.rb` :

[code]

Makes the test work.
Look like `required` loads these into global scope even when `using Refinements` is not used?

[2019-08-25 20:35] rdudacz opened #207 "Stupidedi::Exceptions::ParseError - value is too long in element B101 - where do I find definitions of elements?"
It looks like the max length of the element **B10*01** is 4 characters. Where do I find the specification of elements' length?

Is there a workaround to achieve storing longer values in the **B10*01** element than 4 characters?

[2019-09-03 18:10] lkfken commented on #204
I don't think this is an "issue" of stupidedi.  You probably want to ask this question in places like Stackoverflow.

Anyway, to find occurrence, just use a String method <i>scan</i>

[code]

[2019-09-09 22:15] kputnam commented on #158
I stumbled across the documentation for `BIN` and `BDS` segments. It doesn't look like the typical segment detail page from implementation guides, so I probably skipped over it a long time ago.

See Section 3.11 of http://members.x12.org/technical-assessment/x12-6-dm-042316.pdf. It's a little awkward but the tokenizer would need to be changed to handle "BDS" and "BIN" segment IDs as a special case

[2019-09-09 22:19] kputnam commented on #157
I found some documentation that indicated `NTE` segments usually have this designation. I guess the intention was to let people insert annotations (`NTE` is note) anywhere in the X12 document?

[2019-09-10 03:17] kputnam commented on #204
Yes, [`StateMachine#count`](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/parser/navigation.rb#L488) should do what you want.

You'll need to be very precise about where the `L11` segments are in the document. This is because in general, the same segment can be used in different contexts (within different loops, with different qualifier elements, etc) to mean different things.

I

[2019-09-10 03:57] kputnam commented on #207
First lookup the definition of `B1`. From the Github project page you can press `[t]` to activate the file search. Then type in `B1` and choose the one that matches your X12 version. I think it will show `B1`'s first element is `E140`. Then you can press `[t]` again and search for `element_defs`, and choose the one that matches your X12 version.

You should probably track down the history for that

[2019-09-10 04:09] kputnam commented on #196
One quirk is that `find` only looks ahead from the current position. So if you're already on `ISA`, calling `StateMachine#find(:ISA)` will look ahead to the next ISA which probably doesn't exist.

The other bit, I think you saw, you probably want to write `parser.find(:GS)` unless you want to further restrict the search. For instance if you only want to match where `GS01` is "X", then you can call

[2019-09-26 19:48] nickrivadeneira opened #208 "Value not allowed, but it should be"
Hi, I'm getting a parser error:
[code]
However, that value should be allowed based on the following element definition. Are there other validations that might be at play here? I couldn't find anything to that effect.

https://github.com/irobayna/stupidedi/blob/373f75f11b7027d8a4a0d5f82fae4ad1c189df99/lib/stupidedi/versions/005010/element_defs.rb#L2186-L2189

[2019-09-26 20:36] kputnam commented on #208
Yes, the element definition provides the "universe" of allowed values. But each transaction set definition can narrow that set to specific ones depending on where that segment is used.

For example, see [1](https://github.com/irobayna/stupidedi/blob/f4beb3dcc270a173964d2afe1b245619859acd96/lib/stupidedi/transaction_sets/005010/implementations/X279-HS270.rb#L160), [2](https://github.com/irobayna/st

[2019-09-27 23:30] kputnam commented on #207
Closing. Feel free to re-open if your question wasn't answered.

[2019-09-27 23:30] #207 closed

[2019-09-27 23:32] kputnam commented on #196
Closing. Feel free to re-open or create a new issue if your issue/question wasn't answered.

[2019-09-27 23:32] #196 closed

[2019-09-28 00:03] kputnam commented on #172
Finally [X12 replied to my question](http://rfi.x12.org/Request/Details/2346?stateViewModel=WPC.RFI.Models.ViewModels.RequestViewModel) but it didn't help my understanding of this issue. Given that it took 9 months to receive an answer, I don't think I'm going to ask a clarifying question.

I asked about 005010X214 HN-277 page 26, where two "Table 2"s are shown. One is for patient details and the

[2019-09-28 00:10] kputnam commented on #193
Closing this issue, but if I haven't answered your question feel free to re-open.

[2019-09-28 00:10] #193 closed

[2019-09-28 00:15] kputnam commented on #193
Reading this back much later, maybe what you were asking is does `BuilderDsl` prevent you from constructing and writing out a file that someone could have problems parsing due to ambiguity?

If that's the question, then yes it's prevented using the same machinery used to parse a file, but instead of building each of the possible parse trees when a choice occurs, it just throws an exception. But li

[2019-09-28 00:16] kputnam commented on #204
Closing this but feel free to re-open if your question wasn't answered.

[2019-09-28 00:16] #204 closed

[2019-09-28 00:18] kputnam commented on #189
Dropping a note here that I don't remember if this was already fixed or how the most recent release behaves in regards to this issue, but this issue is fixed and tested for explicitly in another branch that will be merged sometime in the future. I'll comment here again when it's merged.

[2019-09-30 16:12] nickrivadeneira commented on #208
@kputnam Thanks for the clarification. I believe the absence of `"02"` for INS04 may be a mistake (possibly related to INS02 skipping the `"02"` value). I opened a PR to add support for it [here](https://github.com/irobayna/stupidedi/pull/209) and included a screenshot of the X12 guide as supporting evidence.

[2019-10-01 14:27] nickrivadeneira commented on #208
Closing as this has been resolved

[2019-10-01 14:27] #208 closed

[2019-11-01 11:42] sunilkumarnagoore opened #211 "Segment error"
Either.failure("segment ST~ does not occur")
when i ran this libraray with other X12 EDI file i am getting the above error.
what is cause for above error

[2020-02-01 20:12] natec425 opened #212 "Values::InvalidEnvelopeVal#definition missing?"
Hi hi,

Is the `definition` method missing from the `Values::InvalidEnvelopeVal`? It seems like `AbstractVal` assumes all derived classes implement `definition`.

Please let me know if I'm misunderstanding something. If I'm correct that it is missing, I'd be happy to take a swing at a PR.

Thanks for your time!

[2020-02-01 20:45] kputnam commented on #212
Yes I think there are a few cases where a method isn't implemented in a "concrete" subclass. It's usually just because the method doesn't have a sensible implementation. Ideally the types would've been designed to avoid this from happening, but I've only been able to keep it to a minimum.

How did you run into it? I would want to see what's going on at the call site if stupidedi itself is calling

[2020-02-01 20:59] natec425 opened #213 "Values::FunctionalGroupVal#at missing?"
https://github.com/irobayna/stupidedi/blob/a0f3529892da67ce42ba389e25f3a9c2c7494b91/lib/stupidedi/values/functional_group_val.rb#L41-L67

Hi hi,

Sorry if I'm a nuisance with these issues!

It seems like `at` is missing in these methods. I went history diving, and it seems like `SegmentValGroup#at` was removed in this commit: https://github.com/irobayna/stupidedi/commit/2df3799b4f2d0585813dc88cb90

[2020-02-01 21:06] natec425 commented on #212
This didn't actually come up at run time. It was found by a type checker 😁

[2020-02-02 20:53] kputnam commented on #213
Not a nuisance at all, thank you for doing this. That change was in the early days so I can't remember my thought process, but I think that's when I moved away from trying to address segments by using their position (the nth child of some known parent) and figured out the `#find(:GS)` interface.

My vote here is to remove the `#version`, `#release`, `#subrelease`, and `#implementation` methods. We

[2020-02-02 21:10] kputnam commented on #212
I would accept a PR that makes it throw `NoMethodError` with a message that says `InvalidEnvelopeVal` doesn't have a definition. That's assuming you can change `InvalidSegmentVal` to do the same without any breakage (now it returns `nil`). If that introduces test failures then I'd be fine with both of them returning `nil`.

[2020-02-02 21:20] kputnam commented on #211
Sorry there's not enough information here. Feel free to reopen and include instructions on how to reproduce the error. Try running the `edi-pp` and `edi-ed` commands on your file to see if they are valid and parsed correctly.

Make sure to read the example code in the [README](https://github.com/irobayna/stupidedi#reading-traversing) or [this document](https://github.com/irobayna/stupidedi/blob/ma

[2020-02-02 21:20] #211 closed

[2020-02-02 21:33] natec425 commented on #213
I'm glad to hear that my work is welcome.

Would you be interested in a PR trying out [sorbet](https://sorbet.org/) on some Values classes?

[2020-02-03 22:44] kputnam commented on #213
I'm not familiar with it but I'll take a look. I will be offline for a few weeks, so I'll look when I'm back. Thanks Nate!

[2020-02-09 18:16] rdudacz opened #214 "Generating 210 document: NoMethodError - undefined method `entry_segment_uses' for #<Stupidedi::Schema::LoopDef:0x3fd64e4d5d50 ...>"
I am trying to generate a 210 document - here's how to I am approaching it (the variable `var` is used here to keep the code clean and simple - in reality, there are data loaded from database):
[code]

When I run the code, I get this error message:
[code]

The line of code `print w.write()` is not executed.

This is the document schema I've been provided and that should follow while creating the 2

[2020-02-10 00:08] kputnam commented on #214
Sorry it's too much work to try filling in all the missing parameters to run the code and reproduce your issue, I don't have a good way to do that. Maybe you can put all the values in a hash map at the top and reference them in your example, replacing any sensitive data with dummy values and make sure you can run the code as a standalone example.

Can you paste the stacktrace so we can better see

[2020-02-10 00:19] kputnam commented on #214
Since the only thing calling `entry_segment_uses` is where the parser is generating instructions on how to parse your grammar, I think it's more likely an issue with the definition of your schema.

This happens in `AbstractState.tsequence`, which expects an array of `TableDefs` as an argument. That method is called from `TransactionSetState.instructions`, so I'm guessing you might have some segmen

[2020-02-10 19:36] rdudacz commented on #214
Thank you for your reply, kputnam. Please, see below the code with data:
[code]

I also found out that if I keep in the code only these 2 rows, it gets printed out:
[code]
but if I add there this one (or anything below this row), it will throw the error mentioned above:
`b.ST "210", "#{metadata.transaction_set_nb}"`

This might be a dumb
[edi_210.pdf](https://github.com/irobayna/stupidedi/files/41

[2020-02-11 05:44] kputnam commented on #214
Thanks for that, I'll try to take a look tomorrow. I'm not familiar with Rails lately, but I believe there is a way to configure Rails to print backtraces of exceptions... maybe even just running it in the "test" RAILS_ENV?

See also the [Rails documentation on debugging](https://guides.rubyonrails.org/debugging_rails_applications.html). If you can't work it out, in a pinch, you can wrap your code

[2020-02-14 14:07] umar-siddiqui commented on #121
@rdudacz How did you fix this issue?

[2020-02-19 00:32] kputnam commented on #214
I'm not able to reproduce this, but your example code fails at generating the `B3` segment with the error. This makes some sense because you have `nil` for that element in the example:

[code]

Perhaps we have unreleased code in `master`, or maybe you're using an old version and this was a bug that was fixed? Could you ensure you are using version 1.4.0 or are using `gem "stupidedi", git: "irobayn

[2020-02-25 09:55] rdudacz commented on #214
Hi @kputnam, thank you! The problem really was in the version of `stupidedi` I had in my Gemfile. My version was `1.2.15` and from some reason was causing problems with generating 210 files.

After upgrading to `1.4.0`, everything works fine.

[2020-02-25 09:55] #214 closed

[2020-02-29 02:24] kputnam commented on #213
Hey Nate,

I looked briefly at sorbet and it looks like it could be very helpful. I like the philosophy, that it's not tied to a particular editor, and that performs static analysis. Changing `@x = expr` to `@x = T.let(expr, type)` seems a little ugly, but that's not a deal-breaker. The method signatures wouldn't interfere with the existing code and are better than using a YARD comment.

One issue

[2020-03-11 16:10] painforever opened #217 "No way to access LOOP***"
Hi,

  Basically I want to construct a 837P file using this gem. My question is simple, according to the sample about 'create and writing' a document(comments removed):

`config = Stupidedi::Config.hipaa

  b = Stupidedi::Parser::BuilderDsl.build(config)
  b.ISA "00", "0708", "00", 'SECRET',
        "ZZ", "SUBMITTER ID",
        "ZZ", "RECEIVER ID",
        "990531", "1230", nil, "00501", "1234567

[2020-03-11 16:58] kputnam commented on #217
I'm not sure I understand the question, but I think you're asking how to generate Loop 2000A and Loop 2000B, given they both begin with an `NM1` segment.

The specification for 837P is used to determine some values in certain elements of `NM1` are unique to either 2000A or 2000B, so using one of those element values will determine which loop you are generating.

In addition, the segments that were

[2020-03-12 14:44] painforever commented on #217
@kputnam Hi kputnam, Thanks for the answer, it seems answered part of my question. But when I took a look at 837P doc here [https://soapware.screenstepslive.com/s/documentation/m/5138](url), and let's take an example(just an example...),  if you go to see Segment "**Loop 2310E-Ambulance Pick-Up Location**" and "**Loop 2310F-ambulance Drop-Off Location**", you can see that both LOOPs have 3 Segment

[2020-03-14 22:58] kputnam commented on #217
That makes sense. Looking at the documentation you linked, on each individual segment you'll see some of the elements have hard-coded values. For instance, at https://soapware.screenstepslive.com/s/documentation/m/5138/l/48352-segment-nm1 which is the start of the 2310E Ambulance Pickup, you'll see the first element `NM101` must have the value `PW`.

The general naming conventions used in the X12

[2020-03-15 01:13] kputnam commented on #217
The other thing that isn't obvious from the docs you linked is the nested structure of loops. For example, all the 2310 loops occur within a 2300 loop, which itself occurs within another parent structure. It might be clearer by reading the [837 standard](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/transaction_sets/005010/standards/HC837.rb#L11) which is kind of an overview, the

[2020-03-15 01:13] kputnam commented on #217
Closing this issue, but feel free to ask further questions if needed.

[2020-03-15 01:13] #217 closed

[2020-03-18 19:59] painforever opened #218 "how to actually write sub-elements separated by ":" ?"
Hi,

  The question is simple, I have a script that want to construct a 837P file which is like below:

`def real_kill
  config = Stupidedi::Config.hipaa
  x12 = Stupidedi::Parser::BuilderDsl.build(config)

  #---------------------  Header ---------------------------
  x12.ISA "00", 'SOAPWAREIN', "00", '1101081957',
        "ZZ", "WNYICC         ",
        "ZZ", "INDEPEND HEALTH",
        "200312"

[2020-03-18 20:02] kputnam commented on #218
Yes I think so. Instead of writing ` x12.CLM '26463774', '100', nil, nil, '12:B:1', 'Y', 'A', 'Y', 'Y'`, try replace CLM05 with `b.composite('12', 'B', '1')`.

[2020-03-18 20:05] kputnam commented on #218
FYI: I don't think 837's have repeatable elements but if you run into another transaction that does, maybe 270/271 does, you can use `b.repeated('A', 'B', ...)` to generate repeating elements. You can also write `b.composite(b.repeated('A', 'B', ...), ...)` if a component is repeatable or `b.repeated(b.composite('A', 'B', ...), ...)` if the entire composite element is repeatable.

[2020-03-18 20:06] kputnam commented on #218
If that didn't answer your question, feel free to add another comment and reopen the issue!

[2020-03-18 20:06] #218 closed

[2020-06-04 19:28] kmeyerhofer opened #221 "API Documentation link broken"
When visiting the [API Documentation](http://rubydoc.info/github/irobayna/stupidedi/master/frames) link in the README.md, an error is shown stating the documentation page couldn't be found (screenshot below).

![Screenshot from 2020-06-04 13-20-54](https://user-images.githubusercontent.com/24800059/83801522-85ce8280-a666-11ea-8a27-fcbc9762a3e1.png)

The [previous link](https://rubydoc.info/github/

[2020-06-04 20:47] kputnam commented on #221
Thanks for pointing this out. I think it should be fixed, now that rubydoc.info is aware of this repo. Can you confirm it works now?

[2020-06-04 20:49] kputnam commented on #221
I notice [the new doc address](https://rubydoc.info/github/irobayna/stupidedi/master) has a bunch of things missing from the class list. I think I've had this issue before on local documentation builds and narrowed it down to a particular commit in yard. I'll check into this as time permits, but maybe for now it's easier to just change the link to point to the old address.

[2020-06-04 20:53] kmeyerhofer commented on #221
Yes, the link does work now, but like you said it is missing a lot of documentation.

Thanks for looking into it.

[2020-06-05 19:21] kany opened #222 "Question: Is it possible to override or monkey patch validations?"
Good afternoon,

I'm using `stupidedi-1.4.0`. My config is setup like this:

[code]

The `b.PO1` line looks like this, which is how the vendor requires it to be sent.

[code]

When I run my test, I see this error:

[code]

The next vendor might require element 6 to be present. How can I modify the validations to be unique per vendor?

Thanks,

Frank

[2020-06-06 00:12] kputnam commented on #222
Hi Frank,

I think @irobayna may have more experience with PO-850, but to answer your question generally: the best way to go about customizing the grammar for a particular vendor is to make a copy of the definition and put it in your own namespace. In your case, you can copy the source for `Stupidedi::TransactionSets::FortyTen::Standards::PO850` and name it `MyApp::VendorABC::PO850`.

Then you wou

[2020-06-06 00:12] #222 closed

[2020-06-08 13:35] kany commented on #222
Thank you for your detailed response, @kputnam!

[2020-06-08 21:57] painforever opened #223 "Need help for parsing a very simple piece of file"
I checked the doc and issues but no useful information found. I actually just need to grab the "AK9"'s first element and "IK5"'s first element as in below:

[code]

I tried like

[code]

but not working, any help please, thanks
![Screen Shot 2020-06-08 at 6 00 30 PM](https://user-images.githubusercontent.com/2458972/84084829-395eac00-a9b2-11ea-92e8-5887b8392377.png)

[2020-06-08 22:02] painforever commented on #223
![Screen Shot 2020-06-08 at 6 00 30 PM](https://user-images.githubusercontent.com/2458972/84084743-0fa58500-a9b2-11ea-86a1-3f3b6fedc37a.png)

[2020-06-09 07:02] kputnam commented on #223
Hi @painforever,

When you read a file, the `parser` value returned to you points to the **end** of the document (`IEA`). Calling `#find` will search for segments that occur **after** the parser location. So, it will not find anything because nothing occurs past the end of the document. The reason for this is to allow you to read more files into the same document tree by appending to the end.

You

[2020-06-09 07:02] #223 closed

[2020-06-09 07:06] kputnam commented on #223
Forgot to mention, `IK5` is located within an `AK2` loop, which is located within an `ST`. You can see these groupings from [the grammar](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/transaction_sets/005010/standards/FA999.rb) or by using `edi-pp` on your input file.

[2020-06-09 19:12] senorlocksmith opened #224 "Easy Guide"
Has anyone made a guide that is easy to follow. I am just wanting to learn how to implement this gem and get started with EDI parsing, generation and processing. I know this might sound absurd since I know EDI is very difficult, but I am hopeful that there might be a decent quick start guide or tutorial out there. Even if its just how to install, and get started attaching or something of the sort.

[2020-06-09 20:57] kputnam commented on #224
Hi @senorlocksmith,

No we don't have something like that yet. I would love to accept a PR from someone that comes up with one! The closest thing we have are the examples in `README.md`, the documents in `doc/`, and the example code in `examples/` and `notes/`. The documents

To anyone interested, there are a few topics that come up often enough we all would benefit from a quick start guide or tut

[2020-06-09 22:03] senorlocksmith commented on #224
@kputnam Thanks for the fast reply!

I am not a seasoned or classically trained programmer. I have been teaching myself how to program rails for a little while but following simple guides and youtube tutorials. I might be overreaching when it comes to trying to put together something of this nature, however then again I might be fit for this coming from a novice.

When reading those documents they

[2020-06-12 04:05] kputnam commented on #224
Hi again @senorlocksmith,

I don't know if you'll be in over your head, but I do think you'll figure it out with enough time. I think most people have little to no experience with X12, so the terminology is a big hurdle to clear. I've done my best to remain consistent with the X12 terminology and not make up my own.

The other potentially unfamiliar aspect is the way the API works. Some ideas are

[2020-06-12 17:46] pauldraper commented on #172
There is only one Table 2 in 277, though it defines multiple loops.

Detail areas -- i.e. loops described by Table 2 -- simply repeat according to the loop repetition specification, with no requirements for adjacent loops.

(Caveat: The HIPAA implementation guides require that HL-loops are arranged in depth-first hierarchical order.)

[2020-06-13 05:41] kputnam commented on #172
Thanks Paul, that clears things up very well. My file server is down so I can't look for those quotes. What is that document's name/title? Hopefully it's not something that was sitting under my nose the whole time!

[2020-06-14 23:31] pauldraper commented on #172
That's in the X12 standard (X12.59 5). I have that in .chm form.

[2020-07-21 06:49] kputnam opened #227 "Support for pattern matching (Ruby 2.7+)"
Ruby 2.7 introduces pattern matching, which could make the API nicer for users. From what I've read, we can support this by implementing `#===` and `#deconstruct` and/or `#deconstruct_keys` on data types. We have a number of classes like `Either`, `Result`, and `AbstractCursor` that might be good candidates for this. These are abstract classes that imitate algebraic data types.

I would like to be

[2020-08-28 04:36] awais4123 opened #228 "Unable to set CSH segment"
I am trying to create a Purchase order file and according to the updated EDI document, the CSH segment is mandatory but it is not available in the gem. Is there any easy way to fix this issue? Any help will be much appreciated!

[2020-08-31 02:38] kputnam commented on #228
Hey Awais,

Because we don't have complete documentation on some transactions including various PO-850's, we don't have the whole picture about what can go in tthem. Usually a couple people will have documents from a specific trading partner, which might seem to contradict another person's documentation from their trading partner.

I believe there actually is a complete reference for each kind of

[2020-09-28 19:15] kputnam commented on #228
Closing due to inactivity. Feel free to comment or reopen if you still need help.

[2020-09-28 19:15] #228 closed

[2020-10-07 20:22] MattJordan commented on #133
Hi.folks. I have this same issue, also with a customized/expanded SH856, specifically with HLs. It looks like guides are deprecated in favor of implementations as of 1.4, so how would I solve this problem in 1.4? Thanks for any help.

[2020-10-07 21:13] MattJordan opened #229 "non-deterministic machine state revisitied"
Hi.folks. I have this same issue as this older one: https://github.com/irobayna/stupidedi/issues/133. In my case, it's also with a customized/expanded SH856, specifically with HLs. It looks like guides (the recommended solution in that older issue)  are deprecated in favor of implementations as of 1.4, so how would I solve this problem in 1.4? Thanks for any help.

[2020-10-07 21:22] kputnam commented on #229
Hi Matt,

Yes, `Guide` was renamed to `Implementation` to better match X12 terminology. The names of the built-in transaction sets and implementations can be seen [here](https://github.com/irobayna/stupidedi/blob/v1.4.0/lib/stupidedi/config.rb#L108).

If you've written your own `Guide`, you can change it to an `Implementation` fairly easily, but I don't know off the top of my head if or what chang

[2020-10-07 21:48] MattJordan commented on #229
Thanks for the really speedy reply. I haven't written a guide but I do see what looks like the built-in implementation for my use case at Stupidedi::TransactionSets::FortyTen::Implementations::SH856 (and it doesn't seem to need too much alteration to work for the vendor I'm wiring up). I've customized other bits of the process successfully (element defs and segment defs) but I'm at a loss as to ho

[2020-10-07 22:39] kputnam commented on #229
Yeah there's a lot of code/config to wrap your head around. Most of it gets tied together [here](https://github.com/irobayna/stupidedi/blob/v1.4.0/lib/stupidedi/config.rb#L68). There's nothing magic about that code, so you can start from `blank` or `default` and customize it like you see in `hipaa` and `contrib`; the argument given to those functions is an instance of `Config`.

The identifiers th

[2020-12-30 22:04] alexdean opened #231 "problems customizing a transaction set"
I've run into a case where a trading partner requires an additional element which is not part of a segment's standard definition. I'm trying to follow @kputnam's advice in [this comment](https://github.com/irobayna/stupidedi/issues/222#issuecomment-639910514) and define a custom implementation/guide for this partner.

The trouble I'm having is that even when I've defined a new set of elements for

[2020-12-31 01:39] kputnam commented on #231
Hey Alex,

Thanks for the detailed report, especially the code. Now that I've actually read the full example, I can delete my very long response, and the issue is trickier than I anticipated! :-)

There's nothing wrong with your definition. I think the problem is how Stupidedi looks up the segment definitions when reading a file or building one with `BuilderDsl`. My recollection is that it goes li

[2020-12-31 01:47] kputnam commented on #229
Closing due to inactivity. If you're still having problems, feel free to open a new issue.

[2020-12-31 01:47] #229 closed

[2021-01-04 16:06] alexdean commented on #231
@kputnam thanks a million for this input. i've tried out your suggestions and it seems to behave just as i'd expect. i can add/remove elements from segments with a minimum of fuss. this is excellent. (Much better than the dirty hacks we've been doing (like modifying `Stupidedi::TransactionSets::FortyTen::Implementations::IM210.table_defs` at runtime to patch in our modified segment definition...)

[2021-01-20 20:11] rmlrmlrmlrml opened #232 "Transaction splitting using notes/split.rb script: out of date?"
My team would benefit immensely from being able to take multi-transaction edi files and splitting them up into individual files as `notes/split.rb` illustrates. However, when I copy in the file and run I get this error

[code]

on this line `_value = _value.up.bind{|z| z.replace(z.node.copy(:children => vaunts)) }.child(offset)`.

I'm wondering if this script is recoverable or the internal archite

[2021-01-20 20:51] kputnam commented on #232
Hi Robert,

Yes I believe the script should be salvageable. It looks like `_value.up` was assumed to return an `Either<Zipper>`, but the documentation for `AbstractCursor#up` shows it returns `AbstractCursor`. That has been the case at least since 0add6933, which is the 173-rd commit, so that example script has been broken forever 🤦‍♂️

Just to give some background, the idea behind `Either#bind` i

[2021-02-18 22:27] rmlrmlrmlrml commented on #232
Sorry for the late response; was finally able to get back focused on this subproject of ours.

Thanks for the fix, worked like a charm!

[2021-03-12 19:27] alexdean opened #234 "iterating over files with multiple ISAs"
hello. we've recently started working with a trading partner who is sending multiple ISA/IEA in the same file. we haven't encountered this before, and are having some trouble figuring out how to do this with stupidedi.

i've been picking at this using [Navigating](https://github.com/irobayna/stupidedi/blob/master/doc/Navigating.md) as a guide. I think i'm close, but getting a little stumped & hopi

[2021-03-12 20:22] kputnam commented on #234
Yes, you have the right idea. Try this:

[code]

[2021-03-12 20:26] kputnam commented on #234
If this does the trick, please close the issue. Otherwise let me know how I can help!

[2021-03-12 20:27] kputnam commented on #232
Glad it worked!

[2021-03-12 20:27] #232 closed

[2021-03-12 20:42] alexdean commented on #234
seems like that does the trick. thank you very much!

[2021-03-12 20:42] #234 closed

[2021-04-30 17:52] maxfurman commented on #194
We just ran into this bug today - seems like it's been fixed in master for nearly two years but not released. Any chance of a 1.4.1 release?

[2021-04-30 17:58] kputnam commented on #194
Yeah, it's been a long time since the last release. Time really flies... I didn't think it was so long ago. I'll talk with @irobayna and see if we can get a release out soon. Thanks for pointing this out.

[2021-05-19 18:00] kputnam commented on #194
@maxfurman We released 1.4.1 yesterday that includes this bug fix. Thanks for reminding us it wasn't released!

[2021-06-17 11:44] robmathews opened #237 "Doesn't handle arbitrarily large input files, and never will be able to"
Because the parser parses the entire input file completely into memory, instead of streaming it section by section.

So it worked on the 400K test file from my client in reasonable time, but failed on the 176MB actual file, taking 18GB of memory and more than 24 hours before I killed it (ie, never actually finishing)

Otherwise, a very nice library.

[2021-06-17 19:09] kputnam commented on #237
Never say never! I have a separate branch that drastically improves resource consumption (memory and CPU) and I’m making further improvements by implementing some parts in C.

The library has been very stable without major bugs for a long time, so adding native code is a big risk. I’m currently taking a break, but the next task is writing a thorough randomized test suite. I hope to resume work thi

[2021-06-17 23:07] robmathews commented on #237
I've looked at your performance improvements in your other branch, but they are not sufficient.  A 10% or even 100% improvement doesn't address the basic problem.

Basically, unless the code ceases to attempt to parse the entire tree, it will never work for files with ~600K records in them.

But, hey, feel free to defy the laws of physics, I'm not stopping you!

[2021-06-17 23:09] kputnam commented on #237
Okay Rob, thanks for your feedback!

[2021-06-17 23:09] #237 closed

[2021-06-17 23:12] robmathews commented on #237
wow, an actual real time answer. I'm stunned.

[2021-06-17 23:15] robmathews commented on #237
And seriously, you can't just close this; your library doesn't work for real life situations like parsing 834 elibilitiy files, so it would be nice if your documentation noted that.

[2021-09-08 14:35] tomk-ja opened #238 "Duplicate Keys"
Getting a number of warnings during rspec runs over duplicate key defnitions...

[code]

[2021-09-08 14:42] kputnam commented on #238
Hi, thanks for reporting this. These are harmless and won't affect the operation of a program. I believe they are only used for generating error messages. I will gladly accept a PR that removes the duplicate key/value pairs, though.

[2021-09-09 23:21] jsp commented on #238
I started to give it a shot but couldn't find it in code; turns out this issue was addressed with PR https://github.com/irobayna/stupidedi/pull/236

[2021-09-10 14:38] kputnam commented on #238
Thanks @jsp for looking into that.

@tomk-ja, We don't have a release planned, since the only code changes in master is the small PR that @jsp mentioned, which fixes these warnings. If you're using Bundler you could point it to the latest commit in the repo like `gem "stupidedi", git: "https://github.com/irobayna/stupidedi.git", ref: "cca3ebdd"`. in any case, the warnings are harmless, albeit anno

[2021-09-10 14:38] #238 closed

[2021-09-16 11:31] hdaum opened #239 "Unknown patient gender in 270 causes validation error"
I am getting a validation error when generating a 5010 270 for a patient with U in DMG03. I am using Stupidedi::Config.hipaa  to configure my builder object.

It looks like the code should allow it but it's not.

[2021-10-02 03:01] kputnam commented on #239
Hi @hdaum, sorry this was buried in my inbox. Without an example (runnable code or plaintext X12 file), I can't really say what's going on. There are a few DMG segments though, and [this one](https://github.com/irobayna/stupidedi/blob/master/lib/stupidedi/transaction_sets/005010/implementations/X279A1-HS270.rb#L146) does not allow "U". But you're correct [the default](https://github.com/irobayna/s

[2021-10-31 23:42] berkman opened #240 "value PR is not allowed in element NM101"
I'm trying to parse an 837p sample file, with contents:

`ISA*00*1234      *00*A         *ZZ*1234567        *ZZ*11111          *210508*1141*^*00501*000000101*1*P*:~
GS*HC*XXXXXXX*XXXXX*20170617*1741*101*X*005010X222A1~
ST*837*1239*005010X222A1~
BHT*0019*00*010*20170617*1741*CH~
NM1*41*2*BILLING SERVICER*****46*ABC123~
PER*IC*BOB SMITH*TE*4805551212~
NM1*40*2*RECEIVER*****46*44556~
HL*1**20*1~
NM1*

[2021-11-01 18:55] kputnam commented on #240
Hi Mike, looking at some diagnostic data, from `ST` the parser thinks the next possible segments are `BHT`, `NM1`, `HL`, or one of the envelope start/end segments.

[code]

I didn't expect that, so I double checked the README example and noticed it's for an 835 payment. Your file is an 837 claim, so it has a different structure.

No matter, we can still figure out how to get the data you want. Loo

[2021-11-01 18:55] #240 closed

[2021-11-01 19:15] berkman commented on #240
This was very helpful, thank you!

Cheers

[2022-03-04 23:41] kputnam commented on #231
Hey Alex, I'm going to close this issue. It sounds like you're okay with the proposed solution and I think a better looking solution will take more time than it's worth. I agree on having a guide that walks through various configuration scenarios, but I don't know that I'll be able to set aside time for that in the near future.

[2022-03-04 23:41] #231 closed

[2022-03-22 09:41] jemuelfontila123 opened #246 "Segment ST Does not occur"
I tried to print the node of the following and this occurs
  My Code:
    input =  File.open(@file, :encoding => "ISO-8859-1")
    config = Stupidedi::Config.hipaa
    config = Stupidedi::Config.contrib(Stupidedi::Config.hipaa(Stupidedi::Config.default))
    @parser, result = @parser.read(Stupidedi::Reader.build(input))
    input.close unless input.nil? || input.closed?
    raise 'Error in File Fo

[2022-03-22 10:06] jemuelfontila123 commented on #246
@kputnam  hope u notice this

[2022-03-22 18:00] kputnam commented on #246
Hi Jemuel, I think the `InvalidEnvelopeVal` happens when there's no grammar associated to identifiers in the envelope. Kind of like a "I don't know how to parse the stuff inside the ST/SE" warning. That `InvalidEnvelopeVal` has a `reason` property that should give details.

You can see the reason when you use `bin/edi-pp`, it says this: `unknown transaction set "005010" "IM" "210"`. So I think the

[2022-08-30 09:37] itsalongstory opened #249 "Parse EDI 850 ERROR"
[code]

[code]

GOT

[code]

[2022-10-11 02:10] kputnam commented on #249
Hi @itsalongstory,

You can usually get a sense of what's happening by using the `edi-pp` program to pretty-print the input file. In this case, there is no built-in support for X12 version 4060. The output from edi-pp begins with `unknown interchange version "00406",`

Most likely you can use the 4010 version. You can use the code in `Stupidedi::Config.hipaa` as a template to wire up one of the 50

[2022-10-11 02:10] #249 closed

[2022-10-11 02:11] kputnam commented on #239
Closing due to inactivity. If you still need help, you are welcome to re-open the issue.

[2022-10-11 02:11] #239 closed

[2022-11-21 22:11] sshaw opened #250 "Accept Tempfile in Stupidedi::Reader.build"
A `Tempfile` is a IO, really. From the [docs](https://ruby-doc.org/stdlib-2.7.2/libdoc/tempfile/rdoc/Tempfile.html):

Now when passing it to `Stupidedi::Reader.build` [it results in a `TypeError`](https://github.com/kputnam/stupidedi/blob/9e1b9896b371078d439e72505165082b898cd00a/lib/stupidedi/reader/input.rb#L23).